@import "../../../../styles/partials/theme";
@import "../../../../styles/partials/utils";

.default-check-text,
.disabled-check-text,
.error-check-text {
  font-size: 14px;
  line-height: 19.6px;
  left: 28px;
  font-weight: 400;
  color: $white;
}

.check-container {
    display: flex;
    gap: 8px;
}

.check-button {
    width: 20px;
    height: 20px;
}

.default-check-input,
.error-check-input {
    display: none;
    cursor: pointer;
}

.disabled-check-input:disabled {
    display: none;
    cursor: default;
    pointer-events: none;
}

.disabled-check-text {
    @extend .default-check-text;
    color: $gray-100;
}

.error-check-text {
    @extend .default-check-text;
    color: $error-200;
}

.default-check-box {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: 2px solid $white;
    border-radius: 3px;

    &::before {
        content: "";
        cursor: pointer;
        @include flex-center;
        position: absolute;
        width: 10.5px;
        height: 7.5px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.4s;
        background-image: url("/assets/icons/check-mark.svg");
        background-size: 100%;
        opacity: 0;
    }

}

.disabled-check-box {
    @extend .default-check-box;
    cursor: default;
    border-color: $gray-100;

    &:hover {
        background-color: $background-dark-0;
    }
}

.error-check-box {
    @extend .default-check-box;
    border-color: $error-200;

    &:hover {
        background-color: $background-dark-0;
    }
}

.disabled-check-box::before {
    content: "";
    cursor: default;
    @include flex-center;
    position: absolute;
    width: 10.5px;
    height: 7.5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("/assets/icons/check-mark.svg");
    transition: 0.4s;
}

.default-check-input:checked+.default-check-box {
    background-color: $white;
}

.default-check-input:checked:hover+.default-check-box {
    transition: 0.4s;
    background: rgba($white, 0.5);
}

.default-check-input:checked+.default-check-box::before,
.disabled-check-input:disabled:checked+.disabled-check-box::before,
.error-check-input:checked+.error-check-box::before {
    transition: 0.4s;
    opacity: 1;
}

.disabled-check-input:disabled:checked+.disabled-check-box {
    background-color: $gray-100;
}

.error-check-input:checked+.error-check-box {
    background-color: $error-200;
}