.page-layout {
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  background-image:
          url("/assets/404-page/leaves_left.svg"),
          url("/assets/404-page/leaves_right.svg"),
          url("/assets/404-page/clouds_desktop.svg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left bottom, right bottom, center center;
  background-size: 29%, 29%, 100%;
}

.navbar {
  background-color: #151515;
  height: 50px;
  width: 100%;
}

.not-found-text {
  width: 353px;
  height: 62px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 128%;
  text-align: center;
  margin-top: 8%;
  margin-bottom: 7%;
}

.frog-image {
  width: 69%;
}

.page-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-grow: 1;
}

.button{
  display: flex;
  align-self: center;
  margin-top: 5%;
  gap: 18px;
}

// Media Queries
// Laptop
@media screen and (max-width: 1020px){
  .page-layout{
    background-image:
            url("/assets/404-page/leaves_right_mobile.svg"),
            url("/assets/404-page/clouds_desktop.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: right bottom, center center;
    background-size: auto, 100%;
  }
}

// Tablet
@media screen and (max-width: 768px) {
  .page-content{
    flex-grow: 0;
  }
  .navbar{
    height: 45px;
  }
  .button-desktop{
    display: none;
  }
  .button{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 32px;
    margin-bottom: 3%;
    gap: 16px;
  }
  .not-found-text{
    width: 226px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    margin-top: 52px;
    margin-bottom: 48px;
  }
  .frog-image{
    width: 65%;
  }
}

// Mobile
@media screen and (max-width: 425px){
  .page-layout{
    background-image:
            url("/assets/404-page/leaves_right_mobile.svg"),
            url("/assets/404-page/clouds_mobile.svg");
  }
}