.page-layout {
  width: 100%;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image:
          url("/assets/404-page/leaves_left.svg"),
          url("/assets/404-page/leaves_right.svg"),
          url("/assets/404-page/clouds_desktop.svg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left bottom, right bottom, center center;
  background-size: auto, auto, 100%;
}

.navbar {
  background-color: #151515;
  height: 50px;
  width: 100%;
}

.center-position {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-found-text {
  width: 353px;
  height: 62px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 128%;
  text-align: center;
  margin: 84px 0 57.72px 0;
}

.frog-image {
  width: 60%;
}

.page-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  align-content: center;
  align-items: center
}

.button-desktop{
  margin-top: 7.64px;
  margin-bottom: 67px;
  width: 457px;
  align-self: center;
}

.button-mobile{
  display: none;
}

.alert-button{
  margin-bottom: 39px;
  margin-right: 80px;
  align-self: flex-end;
  display: flex;
  align-items: flex-end;
}

// Media Queries
// Laptop
@media screen and (max-width: 1020px){
  .page-layout{
    background-image: url("/assets/404-page/leaves_right_mobile.svg"),
    url("/assets/404-page/clouds_desktop.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: right bottom, center center;
    background-size: auto, 100%;
  }
}

// Tablet
@media screen and (max-width: 768px) {
  .page-layout{
    background-image: url("/assets/404-page/leaves_right_mobile.svg"),
    url("/assets/404-page/clouds_mobile.svg") !important;
    background-repeat: no-repeat, no-repeat;
    background-position: right bottom, center center;
    background-size: auto, 100%;
  }
  .navbar{
    height: 48px;
  }
  .page-content{
    justify-content: flex-start;
  }
  .alert-button{
    display: flex;
    align-self: center;
    width: 248px;
    align-items: center;
    margin-bottom: 25.12px;
    margin-right: 0;
  }
  .button-desktop{
    display: none;
  }
  .button-mobile{
    margin-top: 30.33px;
    display: block;
  }
  .not-found-text {
    margin: 63px 0 49px 0;
  }
}

// Phone
@media screen and (max-width: 425px){
  .not-found-text{
    width: 226px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
  }
}