@import "../../../../../../styles/partials/utils";
@import "../../../../../../styles/partials/theme";

.link {
  color: $info-700;
  column-gap: 8px;
  font-size: 14px;
  cursor: pointer;
  &:visited{
    color: $info-700;
    border-bottom: 1px solid $info-700;
  }
  &:hover {
    color: $info-500;
    border-bottom: 1px solid $info-500;
  }
  &:active {
    color: $info-700;
    border-bottom: 1px solid $info-700;
  }
}