@import "src/styles/partials/utils";
@import "src/styles/partials/typography-mixins";

@mixin button-style($class-name, $border-radius, $padding, $padding-icon, $gap, $underline-offset) {
  .#{$class-name}-button, .#{$class-name}-icon-button {
    @include flex-center;
    display: flex;
    flex-direction: row;
    border-radius: $border-radius;
    transition: all 0.2s ease-in-out;
    min-width: fit-content;
    width: 100%;
    white-space: nowrap;
    padding: $padding;
    gap: $gap;
    &:hover{
      text-underline-offset: $underline-offset;
      text-decoration-thickness: 0.5px;
    }
    &active{
      text-underline-offset: $underline-offset;
      text-decoration-thickness: 0.5px;
    }

    &:disabled {
      img {
        opacity: 0.5;
      }
    }
  }
  .#{$class-name}-icon-button {
    padding: $padding-icon;
  }
}

@mixin button-text($class-name, $font-size, $line-height, $font-weight){
  .#{$class-name}-button, .#{$class-name}-icon-button {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
  }
}

.text-large-button{
  @include body-secondary--bold;
}

.text-medium-button, .text-small-button{
  @include body-primary;
}