// Light background color
$light-primary: #FFFBFB;
$light-secondary-1: #FFFFFF;
$light-secondary-2: #E2E2E2;

// Grey colors:
$grey:#404040;

// Dark background color
$dark-primary: #1E1E1E;
$dark-secondary-1: #121212;
$dark-secondary-2: #232323;

// Button colors
$default-button-color: #FF5B5B;
$hover-button-color: #D33D3D;
$active-button-color: #FD4444;
$focused-button-color: #FD4444;
$disabled-button-color: #747474;

// Button text colors
$non-disabled-button-text-color: #FFFFFF;
$disabled-button-text-color: #ECECEE;

// Error/success input colors
$error-color: #EC131E;
$success-color: #3DA96D;
