@import "../../../../styles/partials/utils";
@import "../../../../styles/partials/theme";
@import "../../../../styles/partials/typography-mixins";

.contact{
  display: flex;
  flex-direction: row;
  width: fit-content;
  gap: 8px;
  align-items: center;
}

.icon{
  width: 24px;
  height: 24px;
}
.link{
 @include body-primary;
}

@media screen and (max-width: 1200px){
  .icon{
    width: 18px;
    height: 18px;
  }
  .link{
    @include overline-text;
  }
}