@import "src/styles/partials/typography-mixins";
@import "src/styles/partials/breakpoints";

.subject-teacher-search-list{
  margin-top: 65px;
  margin-bottom: 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 4rem;
  grid-auto-rows: max-content !important;
  align-items: center;
  column-gap: 16px;
}

@media only screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
  .subject-teacher-search-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: $breakpoint-tablet) {
  .subject-teacher-search-list {
    margin-top: 58px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: $breakpoint-mobile-medium){
  .subject-teacher-search-list {
    grid-template-columns: repeat(1, 1fr);
  }
}