@import '../../../../../../../styles/partials/utils';
@import '../../../../../../../styles/partials/theme';


.card {
  background-color: $background-dark-35;
  padding: 16px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
  min-width: fit-content;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}


.lecturer-description {
  display: inline-block;
  font-size: 11px;
  line-height: 17.6px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: $gray-500;
}

.card-name {
  font-size: 14px;
  font-weight: 600;
}


.header-lecturer-card-container {
  background-color: $background-dark-10;
  min-width: fit-content;
  min-height: fit-content;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;

  & .header-lecturer-card-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: fit-content;
  }
}

@media only screen and (max-width: 768px) {
  .header-lecturer-card-container{
    height: 78px;
    background-color: #1E1E1E;
    img{
      display: none;
    }
    .card-name{
      font-weight: 700;
    }
    .lecturer-description{
      color: #A3A3A3;
      font-size: 14px;
    }
  }
}
