$small-dropdown-width:200px;
$medium-dropdown-width:308px;
$large-dropdown-width:480px;
$dropdown-option-heght:36px;
$dropdown-menu-height:160px;
$dropdown-header-height:52px;




@mixin roundcorners($radius:10px,$color:$light-primary){
    border-radius: $radius;
    border: 2px solid $color;

}



@mixin small-vertical-scrollbar{
        
}

.dropdown{
   margin-top:1rem;  
    
}

.dropdown-header{
    @include flex-center;
    @include roundcorners;
    position: relative;
    height: $dropdown-header-height;
    align-items: center;
    margin: 8px 0px;
    box-sizing: content-box;

    & span{
        position: absolute;
        top: 0;
        left: 1rem;
        transform: translateY(-50%);
        padding: 2px;
        background-color: $dark-primary;
    }

    & input{
        font-size: 1.05rem;
        width: 70%;
        color: $light-primary;
        background: transparent;
        outline: none !important;
        border: none
    }

}

.dropdown-icon-container,.dropdown-toggle-icon-container{
    padding: 0;
    margin: .5rem;
    height: 24px;
    width: 24px;
}

.dropdown-toggle-icon-container{
    cursor: pointer;
}



.dropdown-menu{
   @include roundcorners;
   
    position: absolute;
    z-index: 999;
    width: inherit;
    height: $dropdown-menu-height;
    overflow-y: scroll;
    padding: 8px 12px 8px 26px;
    background-color: $dark-primary;
    &::-webkit-scrollbar{
        width: 12px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: #d6dee1;
        border: 5px solid transparent;
        background-clip: content-box;
    }
    & .dropdown-menu-option,& .dropdown-menu-mistake{
        
        display: flex;
        align-items: center;
        height: $dropdown-option-heght;
    }

    & .dropdown-menu-option{
        border-bottom: 1px solid $grey;
        &:hover{
            background-color: $grey;
            transition: background-color .2s linear;
            cursor: pointer;
        }
    }
}
.dropdown-success{
    border: $success-color 2px solid;
    & span{
        color: $success-color;
    }
}
.dropdown-error{
    border: $error-color 2px solid;
    & span{
        color: $error-color;
    }
}
.dropdown-disabled{
    border: $disabled-button-color 2px solid;
    & span{
        color: $disabled-button-text-color;
    }
}


.large-dropdown{
        width: $large-dropdown-width;
}
.medium-dropdown{
    width: $medium-dropdown-width;
}
.small-dropdown{
        width: $small-dropdown-width;
}
