form{
  display: flex;
  flex-direction: column;
}

.field{
  background: $dark-primary;
  transition: all 0.2s ease-in-out;

  &:hover{
    opacity: 0.7;
  }

  &:active{
    opacity: 1;
  }
  label{
    padding: 2px 5px;
    isolation: isolate;
    width: 51px;
    height: 22px;
    background: inherit;
    position: relative;
    top: 10px;
    left: 10px;
    @include flex-center;
  }
  input{
    background: inherit;
    padding: 16px 24px;
    width: 480px;
    height: 52px;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    color: white;
    &::placeholder {
      color: white;
      opacity: 1;
    }

    &:-ms-input-placeholder {
      color: white;
    }

    &::-ms-input-placeholder {
      color: white;
    }
  }
}

.disabled-field{
  @extend .field;
  opacity: 0.2;
  pointer-events: none;
}

.error-field{
  @extend .field;
  label, input{
    border-color: $error-color;
  }
}

.success-field{
  @extend .field;
  label, input{
    border-color: $success-color;
  }
}








