@import "src/styles/partials/theme";
@import "src/styles/partials/typography-mixins";

$theme-color: $background-dark-0;

//dropdown-sizings
$small-dropdown-width: 200px;
$medium-dropdown-width: 308px;
$large-dropdown-width: 480px;
$dropdown-option-height: 36px;
$dropdown-menu-height: 240px;
$dropdown-header-height: 52px;
$dropdown-option-left-padding: 26px;
$default-dropdown-padding: 8px;

@mixin roundcorners($radius: 10px, $color: $gray-600) {
  border-radius: $radius;
  border: 2px solid $color;
}

.dropdown {
  display: flex;
  flex-direction: column;
  position: relative;

  & span {
    position: absolute;
    left: 8px;
    z-index: 1;
    top: 0;
    background-color: $theme-color;
    transform: translateY(-50%);
    padding: 0 8px;
    @include body-primary;
  }

  p{
    color: inherit;
    @include overline-text;
    margin-top: 2px;
    margin-left: 16px;
    margin-right: 8px;
    width: calc(100% - 24px);
    min-height: 20px;
  }
}
.dropdown- {
  &control {
    padding: 0 $dropdown-option-left-padding;
    &-iconed {
      padding-left: $dropdown-option-left-padding + 15px;
    }
  }
  &container {
    background-color: $theme-color;
    @include roundcorners;
    &-success{
      p{
        color: $success-300;
      }
      border-color: $success-300;
    }
    &-error{
      p{
        color: $error-200;
      }
      border-color: $error-200;
    }
    &-disabled{
      p{
        color: $background-dark-200;
      }
      border-color: $background-dark-200;
    }

  }

  &menu {
    margin-top: $default-dropdown-padding;
    padding: $default-dropdown-padding 0;
    background-color: $background-dark-0;
    z-index: 2 !important;
    @include roundcorners;
  }
  &menu-list {
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 12px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $gray-400;
      border: 5px solid transparent;
      background-clip: content-box;
    }
  }
  &option {
    padding: 5px 0 5px $dropdown-option-left-padding;
    height: $dropdown-option-height;
    &:hover{
      background-color: $gray-50;
      cursor: pointer;
    };
    &-selected {
      background-color: $gray-50;
    }
  }
  &indicator {
    transition: transform .2s linear;
    &-rotated {
      transition: transform .2s linear;
      transform: rotate(180deg);
    }
  }
  &placeholder {
    &-disabled{
      color: $background-dark-200;
    }
  }
  &success-label{
    color: $success-300;
  }
  &error-label{
    color: $error-200;
  }
  &disabled-label{
    color: $background-dark-200;
  }
}
.dropdown-icon-container {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(-40%) translateX(50%);
  height: 24px;
  width: 24px;
  z-index: 1;
}

.remark-success{
  color: $success-300 !important;
}

.remark-error{
  color: $error-200 !important;
}

.remark-disabled{
  color: $background-dark-200 !important;
}


.test-wrap-50{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.test-wrap-25{
  display: flex;
  flex-direction: column;
  width: 25%;
}