$alert-blue-primary: #0284c7;
$alert-blue-secondary: #0c4a6e;
$alert-red-primary: #970c13;
$alert-red-secondary: #420508;
$alert-orange-primary: #ea580c;
$alert-orange-secondary: #7c2d12;
$alert-green-primary: #106034;
$alert-green-secondary: #08301a;




    .alert {
        align-items: center;
        width: 300px;
        border-radius: 4px;
        padding: 12px;
        display: grid;
        grid-template-columns: 14px auto 18px;
        gap: 8px;
        &-title {
            font-size: 16px;
        }
        &-title,
        &-icon {
            grid-row: 1 / span 1;
        }
        &-description {
            font-size: 14px;
        }
        &-icon-x {
            padding: 4px;
            cursor: pointer;
        }
        &-description {
            grid-column: 2 / span 1;
        }
    }


@mixin style-alert-color($className,$primary-color,$secondary-color){

    .alert-#{$className}{
        @extend .alert;
        background-color: $primary-color;
        transition: background-color .2 linear;
        &:hover{
            background-color: lighten($color: $primary-color,$amount: 5%)
        }
    }
    .alert-#{$className}-secondary{
        @extend .alert;
        border-color: $primary-color !important;
        background-color: $secondary-color;
        &:hover{
            background-color: lighten($color: $secondary-color,$amount: 5%)
        }
    }
    .alert-#{$className}-outlined{
        border: 1px $primary-color solid;
        background-color: $theme-color;
        &:hover{
            background-color: lighten($color: $theme-color,$amount: 5%);
            border-color:lighten($color: $primary-color,$amount: 10%);
        }
    }
}

.alert.border-top{
    border-top: 4px solid;

}
.alert.border-left{
    border-left: 4px solid;
}
.alert-small{
    width:232px;
}
.alert-middle{
    width:328px;
};
.alert-large{
    width: 360px;
}
@include style-alert-color("blue",$alert-blue-primary,$alert-blue-secondary);
@include style-alert-color("red",$alert-red-primary,$alert-red-secondary);
@include style-alert-color("orange",$alert-orange-primary,$alert-orange-secondary);
@include style-alert-color("green",$alert-green-primary,$alert-green-secondary);

