.arrow-desktop {
  padding: 6px 6px 6px 6px;
  width: 36px;
  height: 36px;
  border-radius: 6px;
  border: none;

  position: absolute;
  left: 260px;
  top: 209px;

  &:hover{
      background: $arrow-hover-color;
  }
  
  &:active{
      background: $arrow-active-color;
  }
}

.arrow-mobile {
  padding: 4px 4px 4px 4px;
  width: 28px;
  height: 28px;
  border-radius: 6px;
  border: none;

  position: absolute;
  left: 395px;
  top: 209px;

  &:hover{
    background: $arrow-hover-color;
  }
  
  &:active{
    background: $arrow-active-color;
  }
}
