.small-button{}

@mixin button-style($className, $padding, $gap) {
  .#{$className}-button {
    @include flex-center;
    transition: all 0.2s ease-in-out;
    background: $default-button-color;
    color: $non-disabled-button-text-color;
    border-radius: 8px;
    //min-width: fit-content;
    width: 100%;
    white-space: nowrap;
    padding: $padding;
    gap: $gap;

    &:hover {
      background: $hover-button-color;
    }

    &:active {
      background: $active-button-color;
    }

    &:focus {
      background: $focused-button-color;
    }

    &:disabled {
      background: $disabled-button-color;
      color: $disabled-button-text-color;
      cursor: default;
      pointer-events: none;

      img{
        opacity: 0.5;
      }
    }
  }
}

@include button-style("large", 16px 32px, 8px);
@include button-style("medium", 12px 24px, 6px);
@include button-style("small", 6px 12px, 4px);



