
@mixin style-button-icon($radius, $size) {
    @include flex-center;
    overflow: hidden;
    align-items: center;
    border-radius: $radius;
    color: $light-primary;
    background-color: #292929;
    border: 1px solid transparent;
    height: $size;
    width: $size;
    position: relative;
    &:disabled {
        background-color: $theme-color !important;
        color: $grey-dropdown;
        cursor: not-allowed;
    }
}
@mixin style-round-button-icon($className, $size) {
    .round-button-icon-#{$className} {
        @include style-button-icon(999px, $size);
        padding: 6px;

        &:hover {
            background-color: #970c13;
        }
        &:active {
            background-color: #ec131e;
        }
        &:focus {
            border: #970c13 1px solid;
        }
    }
}
@mixin style-square-button-icon($className, $size) {
    .square-button-icon-#{$className} {
        @include style-button-icon(6px, $size);
        padding: 6px;
        &:hover {
            background-color: #404040;
        }
        &:active {
            background-color: #4b4b4b;
        }
        &:focus {
            border-color: #747474;
        }
        & svg {
            transform: translateX(10%) translateY(10%);
        }
    }
}

@include style-round-button-icon("normal", 36px);
@include style-round-button-icon("large", 28px);
@include style-square-button-icon("normal", 32px);
@include style-square-button-icon("large", 40px);
