
#button-icons {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.buttons-style {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;

  padding: 4px 8px;
  border-radius: 4px;

  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}

@mixin button-icons($color, $border-color, $size) {
  @if ($size == big) {
    width: 98px;
    height: 32px;
  } @else {
    width: 72px;
    height: 32px;
  }
  background-color: $color;
  border: 1px solid $border-color;
}

.grey-button button {
  @extend .buttons-style;
  @include button-icons($grey-button, $grey-button, big)
}

.dark-red-button button {
  @extend .buttons-style;
  @include button-icons($dark-red-button, $dark-red-button, big);
}

.red-button button {
  @extend .buttons-style;
  @include button-icons($red-button, $red-button, big);
}

.darkest-red-button button {
  @extend .buttons-style;
  @include button-icons($darkest-red-button, $red-button-border, big);
}

.disabled-button button {
  @extend .buttons-style;
  @include button-icons($disabled-grey-button, $disabled-grey-button, big);
  color: $disabled-button-font-color;
}

.grey-small-button button {
  @extend .buttons-style;
  @include button-icons($grey-button, $grey-button, small);
}

.dark-green-button button {
  @extend .buttons-style;
  @include button-icons($dark-green-button, $dark-green-button, small);
}

.green-button button {
  @extend .buttons-style;
  @include button-icons($green-button, $green-button, small);
}

.darkest-green-button button {
  @extend .buttons-style;
  @include button-icons($darkest-green-button, $green-button-border, small)
}

.disabled-small-button button {
  @extend .buttons-style;
  @include button-icons($disabled-grey-button, $disabled-grey-button, small);
  color: $disabled-button-font-color;
}