$divide-regular-color: #FAFAFA;

.divider-text{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.container{
  display: inline-block;
  width: min(408px, 40%);
}

.dividers-list{
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-top: 36px;
}

hr{
  border: 0.01px solid $divide-regular-color;  
}

.divider-text{
  color: $divide-regular-color;
  padding: 0px 8px;
}

.first-line{
  width: min(181.5px, 44.5%);
}

.second-text{
  padding-left: 0;
}

.second-line{
  width: min(371px, 91%);
}

.third-text{
  padding-right: 0;
}