.divider {
  width: 100%;
  hr {
    width: 100%;
  }
  position: relative;
  top: 15px;

  div {
    position: relative;
    top: -15px;
    @include flex-center;

    p {
      width: fit-content;
      background: $dark-primary;
      padding: 0 24px;
    }
  }
}