$large-input-width: 480px;
$normal-input-width: 308px;

@mixin input-color($text-color, $border-color, $placeholder-color){
  &::placeholder {
    transition: all 0.2s ease-in-out;
    color: $placeholder-color;
  }

  &:-ms-input-placeholder {
    transition: all 0.2s ease-in-out;
    color: $placeholder-color;
  }

  &::-ms-input-placeholder {
    transition: all 0.2s ease-in-out;
    color: $placeholder-color;
  }

  background: $dark-primary;
  border-color: $border-color;
  color: $text-color;
}

.default-input-color{
  color: #FAFAFA;

  label{
    background: linear-gradient(180deg, rgba(30, 30, 30, 0) 49.48%, #1E1E1E 49.95%);
    color: inherit;
  }

  input{
    @include input-color($input-color, $input-color, $input-placeholder-color);
    &:focus {
      @include input-color($focus-input-color, $focus-input-color, $focus-input-placeholder-color);
    }
  }

  &:hover {
    color: $hover-input-color;

    input {
      border-color: $hover-input-color;
      color: $hover-input-color;
    }
  }
}

.disabled-input-color{
  @extend .default-input-color;
  opacity: 0.2;
  pointer-events: none;
}

.error-input-color{
  color: $input-color;

  label{
    background: linear-gradient(180deg, rgba(30, 30, 30, 0) 49.48%, #1E1E1E 49.95%);
    color: inherit;
  }
  input {
    @include input-color($input-color, $error-color, $input-placeholder-color);
  }
}

.success-input-color{
  color: $input-color;

  label{
    background: linear-gradient(180deg, rgba(30, 30, 30, 0) 49.48%, #1E1E1E 49.95%);
    color: inherit;
  }
  input {
    @include input-color($input-color, $success-color, $input-placeholder-color);
  }
}

@mixin field-input($text-color, $border-color, $placeholder-color){

  width: 100%;
  background: $dark-primary;
  padding: 16px 24px 16px 24px;
  border: 2px solid $border-color;
  border-radius: 8px;
  color: $text-color;
}

@mixin field-style{
  width: 100%;
  min-width: fit-content;
  transition: all 0.2s ease-in-out;
  color: $input-color;
  position: relative;
  top: -15px;

  label {
    color: inherit;
    padding: 2px 8px;
    isolation: isolate;
    width: fit-content;
    block-size: fit-content;
    background: linear-gradient(180deg, rgba(30, 30, 30, 0) 49.48%, #1E1E1E 49.95%);
    position: relative;
    top: 10px;
    left: 8px;
    @include flex-center;
  }
  p{
    font-size: 11px;
    line-height: 1.6;
    margin-top: 2px;
    padding: 2px 8px;
  }
}

.field {
  @include field-style;

  input {
    @include field-input($input-color, $input-color, $input-placeholder-color);

    &:focus {
      @include field-input($focus-input-color, $focus-input-color, $focus-input-placeholder-color);
    }
  }

  &:hover {
    color: $hover-input-color;

    input {
      border-color: $hover-input-color;
      color: $hover-input-color;
    }
  }
}









