.progress {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.animation {
  animation: spin 1s linear infinite;
}

.smallest-loader {
  @extend .animation;
  width: 64px;
  height: 64px;
}

.small-loader {
  @extend .animation;
  width: 160px;
  height: 160px;
}

.medium-loader {
  @extend .animation;
  width: 200px;
  height: 200px;
}

.big-loader {
  @extend .animation;
  width: 240px;
  height: 240px;
}

.biggest-loader {
  @extend .animation;
  width: 280px;
  height: 280px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}