
.ratings {
    position: relative;
}

.full-stars {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}


.empty-stars:before {
    content: url("/assets/stars-empty.svg");
}

.full-stars:before {
    content: url("/assets/stars-full.svg");
}