.table-container {
    @include flex-center;
    position: relative;
    width: 100%;
    height: 72px;
    padding: 12px 16px;
    gap: 26px;
    background-color: #292929;
}

.user-avatar {
    @include flex-center;
    width: 48px;
    height: 48px;
    background-image: url("/assets/default-avatar.svg");
}

.user-container {
    @include flex-center;
    gap: 12px;
}

.full-name {
    flex-grow: 3;
    @include flex-center;
    width: 180px;
    height: 44px;
    font-weight: 700;
    font-size: 16px;
    line-height: 138%;
    color: #D4D4D4;
    width: fit-content;
}

.user-info {
    @include flex-center;
    gap: 16px;
    padding: 0px;
    width: fit-content;
}

.tag {
    @include flex-center;
    flex-grow: 2;
    width: fit-content;
}

.email {
    @include flex-center;
    flex-grow: 3;
    width: 330px;
    height: 22px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 138%;
    font-feature-settings: 'case' on, 'kern' off;
    color: #D4D4D4;
    width: fit-content;
}
