.small-tag-body{
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.big-tag-body{
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.tag{
    border-radius: 6px;
    display: flex;
    gap: 4px;
 }
 
 .small-tag{
     padding: 2px 6px;
 }
 
 .big-tag{
     padding: 4px 8px;
 }
 
 .done-svg{
     fill: #FFFFFF;
     width: 20px;
     height: 20px;
 }
 
 .primary-fisrt-bgc{
     background-color: #B83838;
 }
 
 .primary-second-bgc{
     background-color: #873030;
 }
 
 .primary-third-bgc{
     background-color: #1E1E1E;
     border: 1px solid #747474;
     border-radius: 6px;
 
 }
 
 .success-first-bgc{
     background-color: #157F44;
 }
 
 .success-second-bgc{
     background-color: #106034;
 }
 
 .success-third-bgc{
     background-color: #1E1E1E;
     border: 1px solid #64B98A;
     border-radius: 6px;
 }
 
 .error-first-bgc{
     background-color: #C11018;
 }
 
 .error-second-bgc{
     background-color: #970C13;
 }
 
 .error-third-bgc{
     background-color: #1E1E1E;
     border: 1px solid #EC131E;
     border-radius: 6px;
 }
 
 .warning-first-bgc{
     background-color: #EA580C;
 }
 
 .warning-second-bgc{
     background-color: #9A3412;
 }
 
 .warning-third-bgc{
     background-color: #1E1E1E;
     border: 1px solid #EA580C;
     border-radius: 6px;
 }
 
 .info-first-bgc{
     background-color: #0284C7;
 }
 
 .info-second-bgc{
     background-color: #0C4A6E;
 }
 
 .info-third-bgc{
     background-color: #1E1E1E;
     border: 1px solid #0284C7;
     border-radius: 6px;
 }
 
 .gray-first-bgc{
     background-color: #404040;
 }
 
 .gray-second-bgc{
     background-color: #292929;
 }
 
 .gray-third-bgc{
     background-color: #1E1E1E;
     border: 1px solid #525252;
     border-radius: 6px;
 }