# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Generated css files
*.css
*.css.map

# npm/yarn files
yarn.lock
package-lock.json

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.development
.env.production

# vercel
.vercel

.vscode
/.idea/

tsconfig.tsbuildinfo

# storybook
.storybook
storybook-static
