//*{
//  border: 0.3px dashed white;
//}

#login-page-wrapper{
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
}

#left-block{
  width: 606px;
  //padding-top: 100px;
  padding-top: 6.94vw;
  //padding-left: 80px;
  padding-left: 5.55vw;
}

#left-block__content{
  @include flex-center;
  flex-direction: column;
}

#login-circle{
  position: relative;
  top: 98px;
}

#blur-block{
  background: url("/assets/login-page/blur-square.png") no-repeat;
  background-size: 520px;
  width: 520px;
  height: 400px;
  z-index: 1;
  @include flex-center;
  flex-direction: column;
  padding-top: 76px;
}

#login-logo{
  height: 32px;
}

#register-text{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

#right-block{
  width: 834px;
  //padding-top: 265px;
  padding-top: 18.4vw;
  //padding-right: 210px;
  padding-right: 14.58vw;
  //padding-left: 144px;
  padding-left: 10vw;
  flex-direction: column;
  gap: 20px;
}

#right-block__content{
  @include flex-center;
  flex-direction: column;
}

#register-header{
  text-align: center;
  margin-bottom: 32px
}

#splitter{
  width: 100%;
  margin-top: 32px;
  hr{
    width: 100%;
  }
  div{
    position: relative;
    top: -15px;
    @include flex-center;
    p{
      width: fit-content;
      background: $dark-primary;
      padding: 0 24px;
    }
  }
}

#one-line{
  margin-top: 16px;
  margin-bottom: 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#register-checkbox{
  width: 30px;
}

#checkbox-container{
  display: flex;
  gap: 12px;
}
