//*{
//  border: 0.3px dashed white;
//}

$left-block-width: 606px;
$right-block-width: 834px;

.login-page{
  width: 100%;
  min-height: calc(100vh);
  @include flex-center;
  padding-bottom: 20px;
}


.login-page__content{
  display: flex;
  flex-direction: row;
  width: 1440px;
  gap: 150px;
}

.left-block{
  padding-left: 80px;
  padding-top: 33px;
}

.right-block{
  padding-top: 100px;
  padding-right: 210px;
}

.left-block__content{
  @include flex-center;
  flex-direction: column;
  position: relative;
  bottom: 98px;
}

.right-block__content{
  @include flex-center;
  flex-direction: column;
}

@media (max-width: 1440px) {

  .login-page__content{
    width: 100vw;
    justify-content: space-evenly;
    gap: 0;
  }

  .left-block{
    padding-left: 0;
  }

  .right-block{
    padding-right: 0;
  }
}

@media (max-width: 1150px) {
  .left-block{
    display: none;
  }
  .login-page{
    align-items: start;
  }
  .right-block{
    padding-top: 10%;
  }
}

@media (max-width: 650px) {
  .login-page__content{
    padding: 0 10px;
  }

  .right-block__content{
    width: 100%;
  }

  .right-block__content > * {
    width: 90% !important;
  }

}


.login-circle{
  position: relative;
  top: 98px;
}




.blur-block{
  background: url("/assets/login-page/blur-square.png") no-repeat;
  background-size: 520px;
  width: 520px;
  height: 400px;
  z-index: 1;
  @include flex-center;
  flex-direction: column;
  padding-top: 76px;
}

.login-logo{
  height: 32px;
}

.register-text{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}




.register-header{
  text-align: center;
  margin-bottom: 32px
}

.splitter{
  width: 100%;
  margin-top: 32px;
  hr{
    width: 100%;
  }
  div{
    position: relative;
    top: -15px;
    @include flex-center;
    p{
      width: fit-content;
      background: $dark-primary;
      padding: 0 24px;
    }
  }
}

.one-line{
  margin-top: 16px;
  margin-bottom: 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.register-checkbox{
  width: 30px;
}

.checkbox-container{
  display: flex;
  gap: 12px;
}
