@import "../../utils/mixins";

.test-page-wrap {
  margin-top: 30px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background: #000000;
}

.test-hr {
  width: 100%;
}

// just for test
.block {
  @extend .test-page-wrap;
  flex-direction: row;
}

.tab {
  display: flex;
  align-items: center;
  overflow: hidden; // to disable scrolling if the text goes outside the bounds

  padding: 8px 16px;
  gap: 8px;
  background: $tab-default-color;

  cursor: pointer;

  &:focus {
    outline: 1px solid $tab-focus-border-color;
  }

  &:hover {
    background: $tab-hover-color;

    > .count {
      background: $tab-count-hover-color;
    }
  }

  &:active {
    background: $tab-active-color;

    > .count {
      background: $tab-count-active-color;
    }
  }

  &:disabled {
    background: $tab-disabled-color;
    cursor: default;

    > .text {
      color: $tab-text-disabled-color;
    }

    > .icon {
        opacity: 15%; // imitate disabled-icon-color (#404040)
    }

    > .count {
      background: $tab-count-disabled-color;

      > .count-text {
        color: $tab-count-text-disabled-color;
      }
    }
  }
}

.tab-normal {
  @extend .tab;
  width: 200px;
  height: 48px;

  > .text {
    height: 26px; //TODO
    font-weight: 400;
    font-size: 18px;
    line-height: 142%;
  }

  > .count {
    height: 23px;
    min-width: 23px;
    width: auto;
    padding: 1px 8px;

    > .count-text {
      font-size: 16px; //TODO
      line-height: 132%;
    }
  }
}

.tab-small {
  @extend .tab;
  width: 136px;
  height: 36px;

  > .text {
    height: 20px; //TODO
    font-weight: 500;
    font-size: 16px;
    line-height: 138%;
  }

  > .count {
    height: 20px;
    min-width: 20px;
    width: auto;
    padding: 0px 7px;

    > .count-text {
      font-size: 14px; //TODO
      line-height: 140%;
    }
  }
}

.centre {
  justify-content: center;
}

.left {
  // standard, without settings
}

.text {
  font-style: normal;
  font-feature-settings: 'case' on, 'kern' off;
  color: $tab-text-default-color;

  text-align: center;
  flex: none;
  justify-content: center;

  user-select: none;
}

.icon {
  width: 24px;
  height: 24px
}

.count {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  background: $tab-count-default-color;
  border-radius: 24px;
}

.count-text {
  @extend .text;
  font-weight: 500; //TODO
  color: $tab-count-text-default-color;
}
