@import "../../utils/mixins";

.test-page-wrap {
  margin-top: 30px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background: #000000;
}

.test-hr {
  width: 100%;
}

// just for test
.block {
  @extend .test-page-wrap;
  flex-direction: row;
}