@import 'src/styles/partials/theme';
@import 'src/styles/partials/utils';
$theme-color:$background-dark-0;

@mixin style-tag($color,$filled,$darker,$outline){
    .#{$color}-filled-background-color{
        background: $filled;
    }
    .#{$color}-darker-background-color{
        background: $darker;
    }
    .#{$color}-outline-background-color{
        background: transparent;
        border: 1px solid $outline;        border-radius: 6px;
    }
 }

.small-tag-body{
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.medium-tag-body{
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.icon-container{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.tag{
    white-space: nowrap;
    display: flex;
    justify-content: center;
    border-radius: 6px;
    gap: 4px;
 }
 
 .small-tag{
     padding: 2px 6px;
 }
 
 .medium-tag{
     padding: 4px 8px;
 }
 
 .done-svg{
     fill: $white;
     width: 20px;
     height: 20px;
 }
 
 
 @include style-tag("primary",$red-25,$red-10,$red-10);
 @include style-tag("success",$success-100,$success-50,$success-400);
 @include style-tag("error",$error-100,$error-50,$error-200);
 @include style-tag("warning",$warning-100,$warning-25,$warning-100);
 @include style-tag("info",$info-50,$info-0,$info-50);
 @include style-tag("gray",$gray-50,$background-dark-10,$gray-100);
 @include style-tag("violet",$violet-300,$violet-200,$violet-200);
 @include style-tag("mint",$mint-300,$mint-200,$mint-200);
 @include style-tag("orange",$orange-300,$orange-200,$orange-200);
