@import 'src/styles/partials/utils';
@import 'src/styles/partials/theme';
@import 'src/styles/partials/typography-mixins';

.subject-card {
  background-color: $background-dark-35;
  padding: 16px;
  border-radius: 6px;
  width: 100%;
  min-width: fit-content;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.subject-card-effect {
  cursor: pointer;
  &:focus {
    border-color: $red-25;
  }
  &:active {
    border-color: $red-logo;
    background-color: $gray-50;
  }
  &:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  }
}

.subject-name {
  @include body-secondary--bold;
}

.card-disabled {
  border-color: transparent;
  background-color: $background-dark-100;
  pointer-events: none;

  * {
    color: #a3a3a3 !important;
  }
}