@import "src/styles/partials/typography-mixins";
@import "src/styles/partials/utils";
@import "src/styles/partials/breakpoints";

.wrapper{
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.home-icon{
  width: 14px;
  height: 14px;
}

.arrow-icon{
  width: 12px;
  height: 12px;
}

.breadcrumb{
  @include body-primary;
  a {
    @include flex-center;
    gap: 4px;
    span{
      max-width: 22vw;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.breadcrumbs-container{
  @include flex-center;
  flex-direction: row;
  gap: 6px;
}

.mobile{
  display: none;
}

@media screen and (max-width: $breakpoint-mobile-medium) {
  .mobile{
    display: flex;
    @include flex-center;
    gap: 4px;
  }
  .desktop{
    display: none;
  }
  .breadcrumb{
    max-width: 100vw;
  }
}
