@import 'src/styles/partials/theme';

.savedWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12%;
  height: 100vh;

  .content {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 46px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 12px;
  }
  b {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    margin-bottom: 36px;
  }
  .buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    .toOtherPolls {
      width: 308px;
      margin-right: 16px;
      height: 48px;
    }
    .toMain {
      width: 308px;
      height: 48px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .savedWrapper {
    display: flex;
    align-items: center;
    padding: 2%;

    .content {
      max-width: 600px;
    }

    .buttons {
      flex-direction: column;
      align-items: center;
      .toOtherPolls,
      .toMain {
        width: 100%;
      }

      .toOtherPolls {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .savedWrapper {
    .buttons {
      .toOtherPolls,
      .toMain {
        width: 328px;
      }
    }
    .content {
      max-width: 400px;
    }
  }
}

@media screen and (max-width: 400px) {
  .savedWrapper {
    .buttons {
      flex-direction: column;
      align-items: center;
      .toOtherPolls,
      .toMain {
        width: 100%;
      }
    }
  }
}
