.privacy-content {
    padding: 42px 188px 50px 188px;

    h4 {
        padding-bottom: 8px;
    }
}

.privacy-list-item {
    margin-top: 36px;

    h6 {
        margin-bottom: 12px;
    }
}

@media screen and (max-width: 480px) {
    .privacy-content {
        padding-left: 37px;
        padding-right: 23.5px;
    } 
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .privacy-content {
        padding-left: 74px;
        padding-right: 47px;
    } 
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .privacy-content {
        padding-left: 148px;
        padding-right: 94px;
    } 
}

@media screen and (min-width: 1025px) and (max-width: 1300px) {
    .privacy-content {
        padding-left: 197px;
        padding-right: 125px;
    } 
}
