
.privacy-content{
  padding: 3% 20% 4% 13%;
}

.h1-content {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 3%;
}

.h6-content{
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 1%;
}

.privacy-list{
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.body-primary{
  font-weight: 400;
  font-size: 14px;
}

@media screen and (max-width: 480px){
  .privacy-content{
    padding: 8%;
  }
}