.content {
  display: flex;
  flex-direction: column;
}

.text-content {
  display: flex;
  gap: 8px;
  h4{
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 116%;
    margin-bottom: 24px;
  }
}