@import "src/styles/partials/utils";
@import "src/styles/partials/breakpoints";
@import "src/styles/partials/typography-mixins";


.right-block{
  width: 480px;
  @include flex-center;
  flex-direction: column;
}

.telegram-button{
  margin: 32px 0;
}

.mobile-telegram-button{
  display: none;
  margin: 0 0 16px 0;
  @include body-secondary--bold;
  white-space: normal;
}


.form{
  margin-top: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  @include flex-center;
}

.register-header{
  text-align: center;
  font-size: 36px;
  line-height: 128%;
  font-weight: 700;
}

.mobile-login-logo{
  width: calc(100% - 40px);
  min-width: 200px;
  aspect-ratio: 7.1/1;
  display: none;
  margin: 8vh 4vh;
  position:relative;
}

.mobile-text{
  @include body-secondary--medium;
  display: none;
  margin: 28px 0 14px 0;
  color: #D4D4D4;
}

.register-mobile-button{
  width: fit-content;
  display: none;
}

.comeback-button{
  margin-top: 24px;
  margin-bottom: 40px;
}


@media screen and (max-width: $breakpoint-desktop-semi-medium) {
  .left-block {
    display: none;
  }
  .mobile-login-logo {
    display: flex;
  }
  .register-header{
    display: none;
  }
  .mobile-text{
    display: flex;
  }
  .register-mobile-button{
    display: flex;
  }
}

@media screen and (max-width: $breakpoint-mobile-medium) {
  .mobile-telegram-button{
    display: flex;
  }
  .telegram-button{
    display: none;
  }
  .login-button{
    padding: 12px 24px;
  }
}

