@import "/styles/v2/sass/_utils";
#links {
=======

#tooltip{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  align-content: space-between;
  justify-content: center;
  gap: 15px;
}

.links {
  width: 220px;
  height: 22px;
}

.arrow-links {
  width: 251px;
  height: 24px;
  display: inline-block;
  margin-right: 8px;
}

.link-container {
  display: flex;
  column-gap: 8px;
  @include flex-center;
}

@mixin link-style($color, $border-bottom) {
  @if($border-bottom == none) {
    color: $color;
  } @else {
    color: $color;
    border-bottom: 1px solid $color;
  }
  font-size: 14px;
}


.white-link {
  @include link-style($white-link-color, none);
  @extend .links;
}

.blue-link {
  @include link-style($blue-link-color, none);
  @extend .links;
}

.white-link-underlined {
  @include link-style($white-link-color, 1);
  @extend .links;
}

.blue-link-underlined {
  @include link-style($blue-link-color, 1);
  @extend .links;
}

.arrow-white-link {
  @include link-style($white-link-color, none);
  @extend .arrow-links;
}

.arrow-blue-link {
  @include link-style($blue-link-color, none);
  @extend .arrow-links;}

.arrow-white-link-underlined {
  @include link-style($white-link-color, 1);
  @extend .arrow-links;}

.arrow-blue-link-underlined {
  @include link-style($blue-link-color, 1);
  @extend .arrow-links;}
=======
.tooltip-body {
  position: relative;
  width: fit-content;
  padding: 4px 12px;
  text-align: center;
  border-radius: 4px;
  background-color: $tooltip-color;
  color: $tooltip-text-color;
}

.tooltip-text::after {
  content: " ";
  position: absolute;
  border-width: 5px;
  border-style: solid;
}

#tooltip-text-top::after {
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-color: transparent transparent $tooltip-color transparent;
}

#tooltip-text-bottom::after {
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-color: $tooltip-color transparent transparent transparent;
}

#tooltip-text-left::after {
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-color: transparent $tooltip-color transparent transparent;
}

#tooltip-text-right::after {
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-color: transparent transparent transparent $tooltip-color;
}
