@import "/src/styles/partials/theme";
@import "/src/styles/partials/utils";

.footer-container {
    display: grid;
    width: 100%;
    bottom: 0;
    min-width: fit-content;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    height: 300px;
    background: #151515;
}

.footer-logo-container {
    width: 100%;
    margin-top: 40px;
    margin-left: 8.4%;
}

.footer-logo {
    @include flex-center;
    width: 197px;
    height: 28px;

    & img {
        height: 20px;
    }
}

.signature {
    margin-top: 8px;

    & p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
    }
}

.main-references {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    height: 220px;
    margin-top: 40px;
    margin-left: 20%;
}

.title {
    display: flex;
    justify-content: left;
    padding: 2px 12px;
    width: 171px;
    height: 30px;

    & p {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #A3A3A3;
    }
}

.support {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
    margin-left: 15%;
    height: 106px;
    gap: 2px;
}

.social-media {
    @include flex-center;
    flex-direction: column;
    margin-top: 40px;
    align-items: flex-start;
    height: fit-content;
    gap: 4px;
}

.social-buttons {
    @include flex-center;
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
    gap: 2px;
}



@media (max-width: 710px) {

    .footer-container {
        display: grid;
        grid-template-rows: 4rem auto 74px;
        grid-template-columns: auto;
        height: 286px;
        width: 100%;
    }

    .footer-logo-container {
        margin-top: 15px;
        margin-left: 0;
        margin-right: auto;
    }

    .social-media {
        grid-row-start: 2;
        grid-column-start: 2;
        grid-row-end: 3;
        grid-column-end: 3;
        margin-top: 66px;
        width: fit-content;
        height: 60px;
        align-items: start;

        & p {
            font-weight: 400;
            font-size: 11px;
            line-height: 17.6px;
        }

        .title {
            width: fit-content;
            height: 30px;
        }
    }

    .social-buttons {
        @include flex-center;
        flex-direction: row;
        height: fit-content;
        width: fit-content;
        gap: 4px;
    }

    .support {
        grid-row-start: 1;
        grid-column-start: 2;
        grid-row-end: 2;
        grid-column-end: 3;
        margin-top: 8px;
        margin-left: 2%;
        height: 144px;
        width: fit-content;

        & p {
            font-weight: 400;
            font-size: 11px;
            line-height: 17.6px;
        }

        .title {
            padding: 2px 8px;
            width: fit-content;
            height: 30px;
        }
    }

    .main-references {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-column-end: 2;
        margin-top: 8px;
        margin-left: 5%;
        height: 204px;
        width: fit-content;

        & p {
            font-weight: 400;
            font-size: 11px;
            line-height: 17.6px;
        }

        .title {
            padding: 2px 8px;
            width: fit-content;
            height: 30px;
        }
    }

    .footer-logo {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-row-end: 4;
        grid-column-end: 3;
        margin-left: 36%;
        margin-top: 10px;
        width: 155px;
        height: 15.74px;
        position: absolute;
    }

    .signature {
        @include flex-center;
        width: fit-content;
        margin-left: 39%;
        margin-top: 40px;
        position: absolute;

        & p {
            font-weight: 400;
            font-size: 11px;
            line-height: 17.6px;
        }
    }
}