@import "src/styles/partials/utils";
@import "src/styles/partials/theme";
@import "src/styles/partials/typography-mixins";

.textarea-test{
  padding:10px 0;
  background: $dark-primary;
  overflow-y: scroll;
  p{
    @include overline-text;
    color:inherit;
    padding: 2px 8px;
    isolation: isolate;
    max-width: 100px;
    height: 20px;
    position: relative;
    top: -0px;
    left: 10px;
    display:flex;
    align-items: center;
  }
  label{
    color:inherit;
    padding: 2px 8px;
    isolation: isolate;
    width: fit-content;
    height: 22px;
    background: inherit;
    position: relative;
    top: 10px;
    left: 10px;
    @include flex-center;
  }
  textarea{
    @include body-secondary;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 16px 16px 24px;
    gap: 8px;
    background: $background-dark-0;
    width: 480px;
    height: 120px;
    border: 2px solid $gray-500;
    color: $gray-500;
    border-radius: 8px;
    resize: none;
    &:hover {
      color: $white;
      border-color: $white;
    }
    &:focus{
      color: $gray-300;
    }
    &:disabled{
      color: $gray-200;
      border-color: $gray-200;
    }
  }
  textarea::placeholder{
    @include body-secondary;
    opacity: 1;
    //color: $Prototype-Base_Neutrals-Gray400;
    &:hover {
      color: $white;
      border-color: $white;
    }
    &:focus{
      color: $gray-300;
    }
    &:disabled{
      color: $gray-200;
      border-color: $gray-200;
    }
  }
}

.small-area textarea{
    width: 308px;
}

.large-area textarea{
    width: 740px;
}

.success-area{
  textarea ,textarea:hover{
    border-color:$success-300;
  }
  label, p{
    color:$success-300;
  }
}

.error-area{
  textarea ,textarea:hover{
    border-color:$error-200;
  }
  label, p{
    color:$error-200;
  }
}