@import "src/styles/partials/utils";
@import "src/styles/partials/breakpoints";


.left-block{
  @include flex-center;
  flex-direction: column;
  gap: 50px;
  max-width: 400px;
}

.login-logo{
  margin: 0;
  padding: 8px;
}

.login-text{
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  line-height: 128%;
}

.login-button{
  max-width: 300px;
}

@media screen and (max-width: $breakpoint-desktop-semi-medium) {
  .left-block{
    display: none;
  }
}