@import "src/styles/partials/utils";
@import "src/styles/partials/theme";
@import "src/styles/partials/typography-mixins";

.registration-email-confirmation-page{
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;

}
.registration-email-confirmation-page-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: fit-content;

  height: fit-content;
  top: 103px;
  position: absolute;
  text-align: center;
  gap: 24px;

}
.icon {
    color: #FFFFFF;
    width: 64px;
    height: 64px;
}
.headline {
  font-weight: 600;
}

.text-and-button{
  h6{
    width: 90%;
  }
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: $gray-300;
}
.email-not-received{
  flex-direction: row;
  display: flex;
  gap:24px;
  align-items: center;
  overflow-wrap: anywhere;
}

.email{
  font-weight: 900;
  overflow-wrap: anywhere;
}

.mobile{
  display:none;
}

@media screen and (max-width: 480px){
  .registration-email-confirmation-page-content{
    height: 100vh;
  }
  .not-found-text{
    margin-top: 6%;
  }
  .email-not-received{
    flex-direction: row;
    display: flex;
    gap: 12px;
  }

  .registration-email-confirmation-page-content{
    min-height: unset;
    min-width: unset;
    top: unset;
    width:80%;

  }
  .desktop{
    display: none;
  }
  .mobile{
    display: flex;
  }
  .text-and-button{
    h6{
      font-size: 16px;
    }
  }

  .headline{
   @include h4--bold;
  }

}
