@import "src/styles/partials/utils";
@import "src/styles/partials/theme";
@import "src/styles/partials/typography-mixins";

.registration-email-confirmation-page{
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;

}
.registration-email-confirmation-page-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  top: 103px;
  position: absolute;
  text-align: center;
  gap: 24px;

}
.icon {
    color: #FFFFFF;
    width: 64px;
    height: 64px;
}
.headline{
  font-weight: 600;

}
.text-and-button{
  align-items: center;
  display: flex;
  width: 75%;
  flex-direction: column;
  gap: 12px;
  font-size: 1.25em;
  color: $gray-300;
}
.email-not-received{
  flex-direction: row;
  display: flex;
  color: $gray-300;
  gap:24px;
  align-items: center;

}
.alert{
  //width: 80%;
}

.email{
  font-weight: 900;
}

.mobile{
  display:none;
}

@media screen and (max-width: 480px){
  .not-found-text{
    margin-top: 6%;
  }
  .email-not-received{
    flex-direction: row;
    display: flex;
    color: $gray-300;
    align-items: center;
    gap: 12px;
  }
  .registration-email-confirmation-page-content{
    width: fit-content;
  }
  .desktop{
    display: none;
  }
  .mobile{
    display: flex;
  }
  .text-and-button{
    h6{
      font-size: 16px;
    }
  }

  .headline{
   @include h4--bold;
  }

}
