@import "src/styles/partials/theme";
@import "src/styles/partials/utils";

.default-check-text,
.default-check-text-disabled,
.error-check-text {
    font-size: 14px;
    line-height: 19.6px;
    left: 28px;
    font-weight: 400;
    color: $white;
    white-space: nowrap;
}

.check-container {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 20px;
}

.check-button {
    width: 20px;
    height: 20px;
}

.default-check-input,
.error-check-input {
    display: none;
    cursor: pointer;
}

.default-check-input-disabled {
    display: none;
    cursor: default;
    pointer-events: none;
}

.default-check-text-disabled {
    @extend .default-check-text;
    color: $gray-100;
}

.error-check-text {
    @extend .default-check-text;
    color: $error-200;
}

.default-check-box {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: 2px solid $white;
    border-radius: 3px;

    &::before {
        @include flex-center;
        content: "";
        cursor: pointer;
        position: absolute;
        width: 14px;
        height: 11.57px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.4s;
        background-image: url("/icons/check-mark.svg");
        opacity: 0;
    }

}

.default-check-box-disabled {
    @extend .default-check-box;
    cursor: default;
    border-color: $gray-100;

    &:hover {
        background-color: $background-dark-0;
    }
}

.error-check-box {
    @extend .default-check-box;
    border-color: $error-200;

    &:hover {
        background-color: $background-dark-0;
    }
}

.default-check-box-disabled::before {
    @include flex-center;
    content: "";
    cursor: default;
    position: absolute;
    width: 14px;
    height: 11.57px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("/icons/check-mark.svg");
    transition: 0.4s;
}

.default-check-input-disabled:checked + .default-check-box-disabled {
    background-color: $gray-100;
}

.default-check-input:checked + .default-check-box {
    background-color: $white;
}

.error-check-input:checked + .error-check-box {
    background-color: $error-200;
}

.default-check-input:checked:hover + .default-check-box {
    transition: 0.4s;
    background: rgba($white, 0.5);
}

.default-check-input:checked + .default-check-box::before,
.default-check-input-disabled:checked + .default-check-box-disabled::before,
.error-check-input:checked + .error-check-box::before {
    transition: 0.4s;
    opacity: 1;
}
