$breakpoint-mobile: 375px;
$breakpoint-mobile-medium: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-semi-medium: 1200px;
$breakpoint-desktop-medium: 1440px;
$breakpoint-desktop-large: 1920px;