
.division {
  display: flex;
  padding-bottom: 20px;
  align-items: center;
  .white {
    flex-grow: 1;
    background-color: white;
    height: 1px;
    margin-left: 12px;
    margin-right: 12px;
  }
  .division-text{
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  }
}
