@import "src/styles/partials/typography-mixins";
@import "src/styles/partials/breakpoints";

.subject-search-list {
  margin-top: 16px;
  margin-bottom: 16px;
  display: block;
  flex-direction: row;
  columns: 4;
  & li {
    margin-bottom: 16px;
    break-inside: avoid;
  }
}

@media only screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
  .subject-search-list {
    columns: 3;
  }
}

@media screen and (max-width: $breakpoint-tablet) {
  .subject-search-list {
    columns: 2;
  }
}

@media only screen and (max-width: $breakpoint-mobile){
  .subject-search-list {
    columns: 1;
  }
}