@import "../../../../styles/partials/utils";
@import "../../../../styles/partials/theme";
@import "../../../../styles/partials/_typography-mixins.css";

.reset-password-valid-link-page{
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;

}
.reset-password-valid-link-page-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 480px;
  max-width: 480px;
  padding-left: 16px;
  padding-right: 16px;
  height: fit-content;
  top: 103px;
  position: absolute;
  text-align: center;
}
.icon {
  svg{
    width: 64px;
    height: 64px;
  }
  color: $success-300;

  margin-bottom: 32px;
  padding: 8px;
}
.headline {
  font-weight: 600;
  margin-bottom: 24px;
  height: 49px;
}

.text-and-button{
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: $gray-300;
}

.button-wrap {
  width: 100%;
}


@media screen and (max-width: 480px){
  .reset-password-valid-link-page{
    height: 100vh;
  }
  .reset-password-valid-link-page-content{
    min-height: unset;
    min-width: unset;
    justify-content: unset;
    top: 15%;
    width:100%;
  }

  .text-and-button{
    h6{
      @include body-secondary;
    }
    gap: 26px
  }
  .headline{
   @include h4--bold;
    margin-bottom: 10px;
  }
  .icon{
    svg{
      width: 48px;
      height: 48px;

    }
    padding: 0;
    margin-bottom: 28px;

  }
}
