@import "src/styles/partials/utils";
@import "src/styles/partials/theme";
@import "src/styles/partials/typography-mixins";

.reset-password-valid-link-page{
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;

}
.reset-password-valid-link-page-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 480px;
  max-width: 480px;
  padding-left: 16px;
  padding-right: 16px;
  height: fit-content;
  top: 103px;
  position: absolute;
  text-align: center;
  gap: 32px;

}
.icon {
    color: $success-300;
    width: 64px;
    height: 64px;
}
.headline {
  font-weight: 600;
}

.text-and-button{
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
  color: $gray-300;
}

.button-wrap {
  width: 100%;
}


@media screen and (max-width: 480px){
  .reset-password-valid-link-page{
    height: 100vh;
  }
  .reset-password-valid-link-page-content{
    min-height: unset;
    min-width: unset;
    justify-content: unset;
    top: 15%;
    width:100%;
  }

  .text-and-button{
    h6{
      @include body-secondary;
    }
  }
  .headline{
   @include h4--bold;
  }

}
