@import "../../../styles/partials/utils";

$button-border-color: #D33D3D;
$button-divider-color: #404040;

$font-weight-bold: 700;

.nav {
    height: 56px;
    width: 100%;
    background-color: #151515;
    @include flex-center;
}

.main-page{
    width: 100%;
    background: url("/assets/main-page/main-background.png");
}

.header {
    width: 100%;
    display: flex;
    padding-top: 10px;
    position: relative;
    overflow: hidden;

    h2 {
        font-weight: $font-weight-bold;
    }
} 

.header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    width: 30%;
    height: fit-content;
    padding: 202px 0 0 80px;

    h2 {
        position: relative;
        z-index: 100;
        width: max-content;
    }

    p {
        margin: 50px 0 45px 0;
        font-size: 16px;
        line-height: 150%;
        width: 150%;
    }
}

.build-image {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: -15px;

    svg {
        height: auto;
        color: #525252;
        transition: color 0.3s cubic-bezier(0.37, 0, 0.63, 1);
    }

    svg:hover {
        color: white;
        filter: url('data:image/svg+xml,\
        <svg xmlns="http://www.w3.org/2000/svg">\
        <filter id="waves" x="0.311428" y="0.311428" width="1161.93" height="793.477" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">\
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>\
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>\
        <feOffset/>\
        <feGaussianBlur stdDeviation="0.746293"/>\
        <feColorMatrix type="matrix" values="0 0 0 0 0.984314 0 0 0 0 0.635294 0 0 0 0 0.635294 0 0 0 1 0"/>\
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_3496_25513"/>\
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>\
        <feOffset/>\
        <feGaussianBlur stdDeviation="1.49259"/>\
        <feColorMatrix type="matrix" values="0 0 0 0 0.984314 0 0 0 0 0.635294 0 0 0 0 0.635294 0 0 0 1 0"/>\
        <feBlend mode="normal" in2="effect1_dropShadow_3496_25513" result="effect2_dropShadow_3496_25513"/>\
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>\
        <feOffset/>\
        <feGaussianBlur stdDeviation="5.22405"/>\
        <feColorMatrix type="matrix" values="0 0 0 0 0.984314 0 0 0 0 0.635294 0 0 0 0 0.635294 0 0 0 1 0"/>\
        <feBlend mode="normal" in2="effect2_dropShadow_3496_25513" result="effect3_dropShadow_3496_25513"/>\
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>\
        <feOffset/>\
        <feGaussianBlur stdDeviation="10.4481"/>\
        <feColorMatrix type="matrix" values="0 0 0 0 0.984314 0 0 0 0 0.635294 0 0 0 0 0.635294 0 0 0 1 0"/>\
        <feBlend mode="normal" in2="effect3_dropShadow_3496_25513" result="effect4_dropShadow_3496_25513"/>\
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>\
        <feOffset/>\
        <feGaussianBlur stdDeviation="17.911"/>\
        <feColorMatrix type="matrix" values="0 0 0 0 0.984314 0 0 0 0 0.635294 0 0 0 0 0.635294 0 0 0 1 0"/>\
        <feBlend mode="normal" in2="effect4_dropShadow_3496_25513" result="effect5_dropShadow_3496_25513"/>\
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>\
        <feOffset/>\
        <feGaussianBlur stdDeviation="31.3443"/>\
        <feColorMatrix type="matrix" values="0 0 0 0 0.984314 0 0 0 0 0.635294 0 0 0 0 0.635294 0 0 0 1 0"/>\
        <feBlend mode="normal" in2="effect5_dropShadow_3496_25513" result="effect6_dropShadow_3496_25513"/>\
        <feBlend mode="normal" in="SourceGraphic" in2="effect6_dropShadow_3496_25513" result="shape"/>\
        </filter>\
        </svg>#waves');
    }
}

.buttons {
    display: flex;
    width: fit-content;

    .buttons-desk {
        display: flex;
        gap: 20px;
    }

    .buttons-tabl, .buttons-mob {
        display: none;
    }
} 

.button-divider {
    border: 1px solid $button-divider-color;
}

.resources {
    @include flex-center;
    flex-direction: column;
    margin: 97px 0 127px 0;

    h3 { 
        font-weight: $font-weight-bold;
    }
}

.resources-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    padding: 64px 80px 0 80px;
    max-width: calc(8% + 199px * 5 + 160px); 
    // justify-content: flex-start;
    // padding: 64px calc(80px - 2%) 0 80px;
    // outline: 2px solid pink; 
    // gap: 2%;
}

.card-holder {
    // outline: 2px solid pink;
    margin-bottom: 2%;
}

@media only screen and (max-width: 480px) {
    .header {
        flex-direction: column-reverse;
        align-items: flex-end;

        .build-image {
            width: 100%;
        }

        h2 {
            top: -24px;
            font-size: 28px;
            width: 100%;
        }
    }

    .header-info {
        width: 100%;
        padding: 0 0 0 17px;

        .header-info-content {
            left: 17px;
        }

        p {
            margin: 0 0 36px 0;
            padding-right: 17px;
            font-size: 14px;
            line-height: 140%;
            width: 100%;
        }
    }

    .buttons {
        gap: 14px;
        width: 100%;

        button {
            font-size: 14px;
            width: auto;
        }        

        .buttons-desk {
            display: none;
        }
        
        .buttons-mob {
            display: flex;
            gap: 14px;
        }
    }

    .resources {
        margin-bottom: 40px;
    }

    .resources-cards {
        padding: 32px 17px;
    }

    .resources h3 {
        font-weight: 500;
        font-size: 20px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px){
    .header {
        flex-direction: column-reverse;
        align-items: flex-end;

        .build-image {
            width: 100%;

            svg {
                width: 80%;
            }
        }
    }

    .header-info {
        width: 100%;
        padding: 0 40px 0 50px;

        h2 {
            width: 80%;
            top: -50px;
        }
        p {
            margin: 0 0 44px 0;
            width: 100%;
        }
    }
    
    .buttons {
        .buttons-desk {
            display: none;
        }
        
        .buttons-tabl {
            display: flex;
            gap: 20px;
        }
    }

    .button-divider {
        display: none;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
    .header-info {
        h2 {
            width: 100%;
        }

        p {
            width: 200%;
        }
    } 

    .buttons {
        .buttons-desk {
            display: none;
        }
        
        .buttons-tabl {
            display: flex;
            gap: 20px;
        }
    }

    .main-page {
        background-size: cover;
    }
        
}

@media screen and (min-width: 1441px) {
    .main-page {
        background-size: 100vw auto;
    }
}