@import "src/styles/partials/utils";
@import "src/styles/partials/breakpoints";

$left-block-width: 606px;
$right-block-width: 834px;


.register-page {
  width: 100%;
  min-height: 100vh;
  @include flex-center;
  background: url("/images/register-page/background.png") no-repeat;
  background-size: 100% 100%;
  padding: 0 30px;
}

.register-page__content{
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  justify-content: space-around;
  align-items: center;
}

.divider{
  height: 635px;
}

@media screen and (max-width: $breakpoint-desktop-semi-medium) {
  .divider {
    display: none;
  }
  .register-page__content {
    max-width: 480px;
    width: 100%;
    align-items: flex-start;
  }

  .register-page {
    background: url("/images/login-page/login-background.png") no-repeat;
    background-size: $breakpoint-desktop-semi-medium 100%;
  }

}

