@import "src/styles/partials/utils";
@import "src/styles/partials/theme";
@import "src/styles/partials/typography-mixins";

.textarea{
  padding:10px 0;
  background: $background-dark-0;
  overflow-y: scroll;
  width: 100%;
  p{
    color: inherit;
    @include overline-text;
    margin-top: 2px;
    margin-left: 16px;
    margin-right: 8px;
    width: calc(100% - 24px);
    min-height: 20px;
  }
  label{
    color:inherit;
    padding: 2px 8px;
    isolation: isolate;
    width: fit-content;
    height: 22px;
    background: inherit;
    position: relative;
    top: 10px;
    left: 10px;
    @include flex-center;
  }
  textarea{
    width: 100%;
    @include body-secondary;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 6px 16px 16px 24px;
    gap: 8px;
    background: $background-dark-0;
    height: 120px;
    color: $gray-500;
    border-radius: 8px;
    resize: none;
    border-right: 10px solid transparent;
    border-top: 16px solid transparent;
    border-bottom: 6px solid transparent;
    outline: 2px solid $gray-500;
    outline-offset: -2px;
    &:focus{
    //  color: $gray-300;
     cursor: auto;
    }
    &:disabled{
      color: $gray-200;
      border-color: $gray-200;
    }
  }
  //Doesn't really work well
  textarea::placeholder{
    @include body-secondary;
    opacity: 1;
    //&:hover {
    //  color: $white;
    //  border-color: $white;
    //}
    //&:focus{
    //  color: $gray-300;
    //}
    &:disabled{
      color: $gray-200;
      border-color: $gray-200;
    }
  }
}

.success-area{
  textarea ,textarea:hover{
    border-color:$success-300;
  }
  label, p{
    color:$success-300;
  }
}

.error-area{
  textarea ,textarea:hover{
    border-color:$error-200;
  }
  label, p{
    color:$error-200;
  }
}