@import "src/styles/partials/utils";
@import "src/styles/partials/theme";
@import "src/styles/partials/typography-mixins";
// @import "src/styles/partials/";
.textarea{
  position: relative;
  padding:10px 0;
  background: $background-dark-0;
  // overflow-y: scroll;
  @include body-secondary;
  width: 100%;
  p{
    color: inherit;
    @include overline-text;
    margin-top: 2px;
    margin-left: 16px;
    margin-right: 8px;
    width: calc(100% - 24px);
    min-height: 20px;
  }
  label{
    color:inherit;
    padding: 2px 8px;
    isolation: isolate;
    width: fit-content;
    height: 22px;
    background: inherit;
    position: relative;
    top: 10px;
    left: 10px;
    @include flex-center;
  }
  textarea{
    width: 100%;
    word-wrap: normal;
    @include body-secondary;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    // padding: 16px 16px 16px 24px;
    padding: 8px 0;

    gap: 8px;
    background: $background-dark-0;
    height: 120px;
    // border: 2px solid $gray-500;
    color: $gray-500;
    border-radius: 8px;
    resize: none;
    outline: 2px solid $gray-500;
    border: none;
    border-left: 25px solid transparent;
    &:hover {
      color: $white;
      outline: 2px solid $white;
      // border-color: $white;
    }
    &:focus{
      color: $gray-300;
    }
    &:disabled{
      color: $gray-200;
      border-color: $gray-200;
    }
  }
  textarea::placeholder{
    @include body-secondary;
    opacity: 1;
    //color: $Prototype-Base_Neutrals-Gray400;
    &:hover {
      color: $white;
      
      border-color: $white;
    }
    &:focus{
      color: $gray-300;
    }
    &:disabled{
      color: $gray-200;
      border-color: $gray-200;
    }
  }
}

.success-area{
  textarea ,textarea:hover{
    border-color:$success-300;
  }
  label, p{
    color:$success-300;
  }
}

.error-area{
  textarea ,textarea:hover{
    border-color:$error-200;
  }
  label, p{
    color:$error-200;
  }
}





.line-numbers {
  position: absolute;

}

.line-numbers span {
  font-size: 14px;
  counter-increment: linenumber;
}

.line-numbers span::before {
  content: counter(linenumber);
  display: block;
  color: #506882;
  color: $gray-300;
  padding-left:5px;
}

.line-numbers{
  padding-top: 7px;
  line-height: 24px;
}

.divlines{
  position: absolute;
  top: 12px;
  left: 0;
  width: 22px;
  line-height: 24px;
  min-height: 117px;
  overflow: hidden;
}

@media screen and (max-width: 480px) {
  .textarea textarea{
    height: 255px;
  }

  .divlines{
    height: 253px;
  }
}