@import "@/styles/partials/_utils.scss";
@import "@/styles/partials/_breakpoints.scss";

.card {
    width: 200px;
    height: 200px;
    background: rgba(38, 38, 38, 0.26);
    border: 1px solid #404040;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.11);
    border-radius: 8px;
}

.card-content {
    height: 100%;
    @include flex-center;
    flex-direction: column;
    gap: 1.25rem;
    img {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
    }
    p {
        font-size: 1.25rem;
        text-align: center;
    }
}

@media (max-width: $breakpoint-tablet) {
    .card {
        width: 104px;
        height: 112px;
    }

    .card-content {
        gap: 0.5rem;
        padding: 0.5rem 0.25rem;

        img {
            width: 3rem;
            height: 3rem;
        }

        p {
            font-size: 0.875rem;
        }
    }
}
