@import "partials/theme";

html, body {
  background-color: $dark-primary;
  color: $light-primary;
}

.icon{
  height: 24px;
  width: 24px;
  stroke-width: 1.5;
}

*{
  scrollbar-color: $white #C2D2E4;
  scrollbar-width: thin;
  &:hover, &:focus{
    scrollbar-color: $black #C2D2E4;
  }
}

::-webkit-scrollbar{
  width: 1.11vw;
}
::-webkit-scrollbar-thumb{
  border: 0.28vw $dark-primary solid;
  background-clip: padding-box;

  transition: all 0.2s ease-in-out;
  background-color: $background-dark-100;
  &:hover{
    background-color: #747474;
  }
  &:active{
    background-color: $gray-300;
  }
}


