@import "partials/theme";
@import "partials/typography-mixins";


html, body {
  background-color: $background-dark--10;
  color: $gray-600;
}

.icon{
  max-width: 24px;
  max-height: 24px;
  min-width: 24px;
  min-height: 24px;
  stroke-width: 1.5;
}

*{
  scrollbar-color: $white $background-dark-100;
  scrollbar-width: thin;
  &:hover, &:focus{
    scrollbar-color: $black $background-dark-200;
  }
}

::-webkit-scrollbar{
  width: 1.11vw;
}
::-webkit-scrollbar-thumb{
  border: 0.28vw transparent solid;
  background-clip: padding-box;

  transition: all 0.2s ease-in-out;
  background-color: $background-dark-100;
  &:hover{
    background-color: $background-dark-200;
  }
  &:active{
    background-color: $gray-300;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:active,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $gray-600;
  @include body-secondary;
  -webkit-box-shadow: 0 0 0 1000px $background-dark-0 inset;
  font-family: 'Manrope', sans-serif;
  transition: all 0s 50000s !important;
}

