@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

body, html, * {
  font-family: 'Manrope', sans-serif;
}

h1 {
  font-size: 96px;
  line-height: 1.16;
  font-weight: 700;
}

h2 {
  font-size: 60px;
  line-height: 1.16;
  font-weight: 400;
}

.h2--bold {
  @extend h2;
  font-weight: 700;
}

h3 {
  font-size: 36px;
  line-height: 1.28;
  font-weight: 400;
}

.h3--semi-bold {
  @extend h3;
  font-weight: 500;
}

h4 {
  font-size: 28px;
  line-height: 1.28;
  font-weight: 400;
}

.h4--semi-bold {
  @extend h4;
  font-weight: 500;
}

.h4--bold {
  @extend h4;
  font-weight: 600;
}

h5 {
  font-size: 24px;
  line-height: 1.28;
  font-weight: 400;
}

h6 {
  font-size: 20px;
  line-height: 1.28;
  font-weight: 400;
}

.h6--medium-bold {
  @extend h6;
  font-weight: 500;
}

.h6--bold {
  @extend h6;
  font-weight: 700;
}

.body-primary{
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
}

.body-primary--bold{
  @extend .body-primary;
  font-weight: 700;
}

.body-secondary{
  font-size: 16px;
  line-height: 1.22;
  font-weight: 400;
}

.body-secondary--bold{
  @extend .body-secondary;
  line-height: 1.38;
  font-weight: 700;
}

.overline-text{
  font-size: 11px;
  line-height: 1.6;
  font-weight: 400;
}

label{
  @extend .body-primary;
}

input{
  @extend .body-secondary;
}


