.body-primary{
  font-size: 14px;
  line-height: 1.4;
  font-weight: $font-weight-regular;
}

.body-primary--bold{
  @extend .body-primary;
  font-weight: $font-weight-bold;
}

.body-secondary{
  font-size: 16px;
  line-height: 1.22;
  font-weight: $font-weight-regular;
}

.body-secondary--bold{
  @extend .body-secondary;
  line-height: 1.38;
  font-weight: $font-weight-bold;
}

.overline-text{
  font-size: 11px;
  line-height: 1.6;
  font-weight: $font-weight-regular;
}



.default-check-text, //TODO shouldn't be here
.disabled-check-text,
.error-check-text {
    font-size: 14px;
    line-height: 19.6px;
    left: 28px;
    font-weight: $font-weight-regular;
    color: $check-default-color;
}

.default-radio-text, .disabled-radio-text, .error-radio-text {
  font-size: 14px;
  line-height: 19.6px;
  left: 28px;
  font-weight: $font-weight-regular;
}

.web-switch-text {
  font-size: 16px;
  line-height: 21.76px;
  padding-top: 2px;
  font-weight: $font-weight-regular;
}

.mobile-switch-text {
  @extend .web-switch-text;
  font-size: 14px;
  line-height: 19.6px;
  font-weight: $font-weight-regular;
}