
h1 {
  font-size: 96px;
  line-height: 1.16;
  font-weight: $font-weight-bold;
}

h2 {
  font-size: 60px;
  line-height: 1.16;
  font-weight: $font-weight-regular;
}

h3 {
  font-size: 36px;
  line-height: 1.28;
  font-weight: $font-weight-regular;
}

.h3--semi-bold {
  @extend h3;
  font-weight: $font-weight-semi-bold;
}

h4 {
  font-size: 28px;
  line-height: 1.28;
  font-weight: $font-weight-regular;
}

.h4--semi-bold {
  @extend h4;
  font-weight: $font-weight-semi-bold;
}

.h4--bold {
  @extend h4;
  font-weight: $font-weight-bold;
}

h5 {
  font-size: 24px;
  line-height: 1.28;
  font-weight: $font-weight-regular;
}

h6 {
  font-size: 20px;
  line-height: 1.28;
  font-weight: $font-weight-regular;
}

.h6--medium-bold {
  @extend h6;
  font-weight: $font-weight-medium;
}

.h6--bold {
  @extend h6;
  font-weight: $font-weight-bold;
}
