.small-tag-body{
    font-size: 14px;
    line-height: 20px;
    font-weight: $font-weight-medium;
  }
  
  .big-tag-body{
    font-size: 16px;
    line-height: 22px;
    font-weight: $font-weight-medium;
  }