@import "src/styles/partials/theme";

.alert-buttons{
  transition: all 0.2s ease-in-out;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  gap: 6px;
  border-radius: 4px;
  min-width: fit-content;
  width: 100%;
  white-space: nowrap;
}

.error-filled-alert-button {
  @extend .alert-buttons;
  border: 2px solid $error-50;
  background: $error-50;
  color: $gray-600;

  &:hover {
    background: $error-100;
    border: 2px solid $error-100;
  }

  &:focus:not(:active) {
    background: $error-50;
    border: 2px solid $error-200;
  }

  &:active {
    background: $error-200;
    border: 2px solid $error-200;
  }

  &:disabled {
    background: $background-dark-0;
    color: $background-dark-35;
    border: 2px solid $background-dark-0;
    cursor: not-allowed;
  }
}

.error-outline-alert-button{
  @extend .alert-buttons;
  border: 2px solid $error-200;
  background: $background-dark-0;
  color: $gray-600;

  &:hover {
    background: $error-50;
  }

  &:focus:not(:active) {
    background: $error-50;
  }

  &:active {
    border: 2px solid $error-100;
    background: $error-100;
  }

  &:disabled {
    outline: none;
    border: 2px solid $background-dark-0;
    background: $background-dark-0;
    color: $background-dark-35;
    cursor: not-allowed;
  }
}

.success-alert-button{
  @extend .alert-buttons;
  background: $success-200;
  color: $gray-600;
  border: 2px solid $success-200;

  &:hover {
    background: $success-100;
    border: 2px solid $success-100;
  }

  &:focus:not(:active) {
    background: $success-200;
    border: 2px solid $success-50;
  }

  &:active {
    background: $success-50;
    border: 2px solid $success-50;
  }

  &:disabled {
    background: $background-dark-0;
    border: 2px solid $background-dark-0;
    color: $background-dark-35;
    cursor: not-allowed;
  }
}
.success-alert-button-without-text{
  @extend .success-alert-button;
  padding: 6px;
};
.error-outline-alert-button-without-text{
  @extend .error-outline-alert-button;
  padding: 6px;
};
.error-filled-alert-button-without-text{
  @extend .error-filled-alert-button;
  padding: 6px;
};

.success-alert-button-only-text{
  @extend .success-alert-button;
  padding: 8px 12px;
};
.error-outline-alert-button-only-text{
  @extend .error-outline-alert-button;
  padding: 8px 12px;
};
.error-filled-alert-button-only-text{
  @extend .error-filled-alert-button;
  padding: 8px 12px;
};







