@import "../button/styles/button-style";
@import "src/styles/partials/theme";

.error-primary-alert-button-color{
  background: $error-50;
  color: $gray-600;
  outline: 1px transparent solid;

  &:hover {
    background: $error-100;
  }

  &:active {
    background: $error-200;
  }

  &:focus {
    background: $error-50;
    outline: 1px solid $error-100;
  }

  &:disabled {
    background: $background-dark-0;
    color: $background-dark-35;
  }
}

.error-secondary-alert-button-color{
  border: 1px solid $error-200;
  background: $background-dark-35;
  color: $gray-600;

  &:hover {
    background: $error-50;
  }

  &:active {
    background: $error-100;
  }

  &:focus {
    background: $error-50;
  }

  &:disabled {
    background: $background-dark-0;
    color: $background-dark-35;
  }
}

.success-alert-button-color{
  background: $success-200;
  color: $gray-600;
  outline: 1px transparent solid;

  &:hover {
    background: $success-100;
  }

  &:active {
    background: $success-50;
  }

  &:focus {
    background: $success-200;
    outline: 1px solid $success-50;
  }

  &:disabled {
    background: $background-dark-0;
    color: $background-dark-35;
  }
}


@include button-style("alert", 4px, 8px 16px, 4px 8px, 6px);
@include button-style("unlabeled-alert", 4px, 4px 4px, 4px 4px, 0);






