@import "src/styles/partials/theme";
@import "src/styles/partials/utils";

.alert-buttons{
  padding: 6px 12px;
  @include flex-center;
  font-weight: 700;
  gap: 6px;
  border-radius: 4px;
  min-width: fit-content;
  width: 100%;
  white-space: nowrap;
}

.error-filled-alert-button {
  @extend .alert-buttons;
  outline: 2px transparent solid;
  background: $error-50;
  color: $gray-600;

  &:hover {
    background: $error-100;
  }

  &:focus:not(:active) {
    background: $error-50;
    outline: 1px solid $error-100;
  }

  &:active {
    background: $error-200;
  }

  &:disabled {
    background: $background-dark-0;
    color: $background-dark-35;
    cursor: not-allowed;
    svg{
      opacity:0.5;
    }
  }
}

.error-outline-alert-button{
  @extend .alert-buttons;
  outline: 2px solid $error-200;
  background: $background-dark-0;
  color: $gray-600;

  &:hover {
    background: $error-50;
  }

  &:focus:not(:active) {
    background: $error-50;
  }

  &:active {
    background: $error-100;
  }

  &:disabled {
    outline: none;
    background: $background-dark-0;
    color: $background-dark-35;
    cursor: not-allowed;
    svg{
      opacity:0.5;
    }
  }
}

.success-alert-button{
  @extend .alert-buttons;
  background: $success-200;
  color: $gray-600;
  outline: 2px transparent solid;

  &:hover {
    background: $success-100;
  }

  &:focus:not(:active) {
    background: $success-200;
    outline: 1px solid $success-50;
  }

  &:active {
    background: $success-50;
  }

  &:disabled {
    background: $background-dark-0;
    color: $background-dark-35;
    cursor: not-allowed;
    svg{
      opacity:0.5;
    }
  }
}
.success-alert-button-without-text{
  @extend .success-alert-button;
  padding: 6px;
};
.error-outline-alert-button-without-text{
  @extend .error-outline-alert-button;
  padding: 6px;
};
.error-filled-alert-button-without-text{
  @extend .error-filled-alert-button;
  padding: 6px;
};

.success-alert-button-only-text{
  @extend .success-alert-button;
  padding: 8px 12px;
};
.error-outline-alert-button-only-text{
  @extend .error-outline-alert-button;
  padding: 8px 12px;
};
.error-filled-alert-button-only-text{
  @extend .error-filled-alert-button;
  padding: 8px 12px;
};







