@import "../../global/partials/theme";
@import "../../global/partials/utils";

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    min-width: fit-content;
    height: 56px;
    background: #151515;
    position: relative;
}

.logo {
    @include flex-center;
    width: 197px;
    height: 28px;

    & img {
        @include flex-center;
        height: 20px;
    }
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    width: 513px;
    height: 34px;
}

.user-container {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 286px;
    height: 42px;
}

.auth-container {
    @extend .user-container;
    height: 36px;
    gap: 8px;
}