@import "../../global/partials/theme";
@import "../../global/partials/utils";

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: fit-content;
    height: 56px;
    background: #151515;
    position: relative;
}

.header-logo {
    @include flex-center;
    width: 197px;
    height: 28px;
    margin-left: 80px;
    & img {
        @include flex-center;
        height: 20px;
    }
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 513px;
    height: 34px;
}

.user-container {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 286px;
    height: 42px;
    margin-right: 80px;
}

.auth-container {
    @extend .user-container;
    height: 36px;
    gap: 8px;
}

//-----------------Footer-----------------//

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: fit-content;
    height: 242px;
    background: #151515;
    position: relative;
}

.footer-logo {
    @extend .header-logo;
    margin-left: 80px;
    margin-top: 40px;
    flex-grow: 1;
}

.signature {
    display: flex;
    margin-left: 78px;
    margin-top: 8px;
    & p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
    }
}

.link-container {
    display: flex;
    margin-top: 40px;
    margin-right: 358px;
}

.main-references {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 170px;
}

.title {
    display: flex;
    justify-content: left;
    padding: 2px 12px;
    width: 171px;
    height: 28px;

    & p {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #A3A3A3;
    }
}

.support {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 170px;
    margin-left: 45px;
}

.social-media {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 114px;
    margin-left: 72px;
}