@import "src/styles/partials/utils";
@import "src/styles/partials/theme";
@import "src/styles/partials/typography-mixins";

.textarea{
  position: relative;
  padding:10px 0;
  background: $background-dark-0;
  @include body-secondary;
  width: 100%;
  p{
    color: inherit;
    @include overline-text;
    margin-top: 2px;
    margin-left: 16px;
    margin-right: 8px;
    width: calc(100% - 24px);
    min-height: 20px;
  }
  label{
    color:inherit;
    padding: 2px 8px;
    isolation: isolate;
    width: fit-content;
    height: 22px;
    background: inherit;
    position: relative;
    top: 10px;
    left: 10px;
    @include flex-center;
  }
  textarea{
    width: 100%;
    word-wrap: normal;
    @include body-secondary;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    // padding-top: 1px;

    gap: 8px;
    background: $background-dark-0;
    height:209px;
    color: $gray-500;
    border-radius: 8px;
    resize: none;
    outline: 2px solid $gray-500;
    border: none;
    border-left: 30px solid transparent;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;

    border-right: 10px solid transparent;
    &:hover {
      cursor: pointer;
      }
    &:focus{
      cursor: auto;
    }
    //Doesn't really work
    //&:hover {
    //  color: $white;
    //  outline: 2px solid $white;
    //}
    //&:focus{
    //  color: $gray-300;
    //}
    &:disabled{
      color: $gray-200;
      border-color: $gray-200;
    }
  }
  textarea::placeholder{
    @include body-secondary;
    opacity: 1;
    //color: $Prototype-Base_Neutrals-Gray400;
    //&:hover {
    //  color: $white;
    //
    //  border-color: $white;
    //}
    //&:focus{
    //  color: $gray-300;
    //}
    &:disabled{
      color: $gray-200;
      border-color: $gray-200;
    }
  }
}

.success-area{
  textarea ,textarea:hover{
    border-color:$success-300;
  }
  label, p{
    color:$success-300;
  }
}

.error-area{
  textarea ,textarea:hover{
    border-color:$error-200;
  }
  label, p{
    color:$error-200;
  }
}


.line-numbers {
  position: absolute;
  padding-top: 2.5px;
  display: inline;
  text-align: center;
  width: 30px;
}

.line-numbers span {
  counter-increment: linenumber;

}

.line-numbers span::before {
  content: counter(linenumber);
  display: block;
  color: $gray-300;
}

.line-numbers{
  font-size: 14px;
  line-height: 24px;
}

.divlines{
  position: absolute;
  top: 12px;
  left: 0;
  width: 30px;
  line-height: 24px;
  min-height: 207px;
  overflow: hidden;
}

@media screen and (min-width: 480px) {
  .textarea textarea{
    height: 255px;
  }

  .divlines{
    height: 253px;
  }
}
