@import "/src/styles/partials/theme";
@import "/src/styles/partials/utils";

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 56px;
    background-color: rgba(23, 23, 23, 1);
    backdrop-filter: blur(8px);
    
}

.menu {
    @include flex-center;
    flex-direction: row;
    justify-content: space-around;
    gap: 28px;
}

.mobile-menu, .account-buttons {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    gap: 8px;
    
}

.login-buttons {
    @include flex-center;
    gap: 8px;
}

.first-button,
.second-button {
    @include flex-center;
}

.header-logo {
    @include flex-center;
    & img {
        width: 197px;
        height: 20px;
    }
}

@media (max-width: 710px) {
    .header-logo {
        margin-left: 70px;
        flex-grow: 4;
    }
}