@import "src/styles/partials/theme";

.medium-arrow {
  background: $background-dark-10;
  padding: 6px 6px 6px 6px;
  width: 36px;
  height: 36px;
  border-radius: 6px;
  border: none;

  &:hover{
    background: $background-dark-35;
  }

  &:active{
    background: $gray-50;
  }
}

.small-arrow {
  background: $background-dark-10;
  padding: 4px 4px 4px 4px;
  width: 28px;
  height: 28px;
  border-radius: 6px;
  border: none;

  &:hover{
    background: $background-dark-35;
  }

  &:active{
    background: $gray-50;
  }
}
