@import "../../../../styles/partials/theme";
@import "../../../../styles/partials/utils";

@mixin style-button-icon($radius, $size) {
  @include flex-center;
  overflow: hidden;
  align-items: center;
  border-radius: $radius;
  color: $gray-600;
  background-color: $gray-50;
  border: 1px solid transparent;
  height: $size;
  width: $size;
  position: relative;
  &:disabled {
    background-color: $background-dark-0 !important;
    color: $gray-50;
    cursor: not-allowed;
  }
}
@mixin style-round-button-icon($className, $size) {
  .round-button-icon-#{$className} {
    @include style-button-icon(999px, $size);
    padding: 6px;

    &:hover {
      background-color: $error-50;
    }
    &:active {
      background-color: $error-200;
    }
    &:focus {
      border: $error-50 1px solid;
    }
  }
}
@mixin style-square-button-icon($className, $size) {
  .square-button-icon-#{$className} {
    @include style-button-icon(6px, $size);
    padding: 6px;
    &:hover {
      background-color: $gray-50;
    }
    &:active {
      background-color: $background-dark-100;
    }
    &:focus {
      border-color: #747474;
    }
    & svg {
      transform: translateX(10%) translateY(10%);
    }
  }
}

@include style-round-button-icon("normal", 36px);
@include style-round-button-icon("large", 28px);
@include style-square-button-icon("normal", 32px);
@include style-square-button-icon("large", 40px);
