@import 'src/styles/partials/theme';
@import 'src/styles/partials/utils';

@mixin style-button-icon($radius, $size) {
  @include flex-center;
  overflow: hidden;
  align-items: center;
  border-radius: $radius;
  color: $gray-600;
  background-color: $gray-50;
  border: 1px solid transparent;
  height: $size;
  width: $size;
  position: relative;
  &:disabled {
    background-color: $background-dark-0 !important;
    color: $gray-50;
    cursor: not-allowed;
  }
}
@mixin style-button-icon-color($default, $hover, $active, $focus) {
  background-color: $default;
  &:hover {
    background-color: $hover;
  }
  &:focus {
    background-color: $default;
    border: $focus 1px solid;
  }
  &:active {
    background-color: $active;
  }
}
@mixin style-colors-button-theme($type, $className) {
  .#{$type}-button-icon-#{$className}-primary {
    @include style-button-icon-color(
      $background-dark-10,
      $background-dark-50,
      $background-dark-100,
      $background-dark-200
    );
  }
  .#{$type}-button-icon-#{$className}-secondary {
    @include style-button-icon-color(
      $gray-50,
      $error-50,
      $error-200,
      $error-50
    );
  }
  .#{$type}-button-icon-#{$className}-success {
    @include style-button-icon-color(
      $success-200,
      $success-100,
      $success-50,
      $success-500
    );
  }
  .#{$type}-button-icon-#{$className}-error {
    @include style-button-icon-color($red-400, $red-200, $red-logo, $red-500);
  }
  .#{$type}-button-icon-#{$className}-transparent {
    background-color: transparent;
    padding: 6px;
  }
}
@mixin style-round-button-icon($className, $size) {
  .circle-button-icon-#{$className}-success,
  .circle-button-icon-#{$className}-secondary,
  .circle-button-icon-#{$className}-primary,
  .circle-button-icon-#{$className}-error,
  .circle-button-icon-#{$className}-transparent {
    @include style-button-icon(999px, $size);
    padding: 6px;
  }
  @include style-colors-button-theme('circle', $className);
}
@mixin style-square-button-icon($className, $size) {
  .square-button-icon-#{$className}-success,
  .square-button-icon-#{$className}-secondary,
  .square-button-icon-#{$className}-primary,
  .square-button-icon-#{$className}-error,
  .square-button-icon-#{$className}-transparent {
    @include style-button-icon(6px, $size);
    padding: 6px;
    & svg {
      transform: translateX(10%) translateY(10%);
    }
  }
  @include style-colors-button-theme('square', $className);
}

@include style-round-button-icon('normal', 36px);
@include style-round-button-icon('large', 28px);
@include style-square-button-icon('normal', 32px);
@include style-square-button-icon('large', 40px);
