@import "src/styles/partials/theme";

.default-radio-text, .default-radio-text-disabled, .error-radio-text {
  font-size: 14px;
  line-height: 19.6px;
  left: 28px;
  font-weight: 400;
}

.radio-container {
    display: flex;
    padding: 8px;
    gap: 8px;
}

.default-radio-input, .error-radio-input {
    display: none;
}

.default-radio-input-disabled {
    display: none;
    cursor: pointer;
    pointer-events: none;
}

.default-radio-text-disabled {
    @extend .default-radio-text;
    color: $gray-100;
}

.error-radio-text {
    @extend .default-radio-text;
    color: $error-200;
}

.default-radio-box {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    border: 2px solid $white;
    border-radius: 50%;
    &::before {
        content: "";
        cursor: pointer;
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: $background-dark-0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.4s;
        border-radius: 50%;
    }
}

.default-radio-box-disabled {
    @extend .default-radio-box;
    border-color: $gray-100;
}

.error-radio-box {
    @extend .default-radio-box;
    border-color: $error-200;
}

.default-radio-box-disabled::before {
    @extend .default-radio-box, ::before;
    cursor: default;
    border-color: $background-dark-0;
}

.default-radio-box:hover::before {
    background-color: $gray-100;
}

.default-radio-box-disabled:hover::before, .error-radio-box:hover::before {
    background-color: $background-dark-0;
}

.default-radio-input:checked + .default-radio-box::before {
    background-color: $white;
}

.default-radio-input-disabled:checked + .default-radio-box-disabled::before {
    background-color: $gray-100;
    border-color: $gray-100;
}

.error-radio-input:checked + .error-radio-box::before {
    background-color: $error-200;
}