.block.course {
  display: flex;
}

.course-group > .course {
  margin: 0 0 10px;
}

.block.course > .action {
  flex: 1;
  text-align: right;
  margin: auto 0;
}

.block.course > .info p {
  margin: 5px 0 0;
}