.navigation-menu {
  margin-top: 10px;
  width: 100%;
  border: 1px dashed #242c37;
  background-color: #0b0e11;
  border-radius: 8px;
  padding: 5px;
  box-sizing: border-box;
}

.navigation-menu .item:not(:last-child) {
}

.navigation-menu .item {
  margin: 5px;
  flex: 1 1;
}

.navigation-menu .item button {
  width: 100%;
}

.navigation-menu > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
