.navigation-menu {
  margin-top: 10px;
  width: 100%;
}

.navigation-menu .item:not(:last-child) {
  margin: 0 10px 10px 0;
}

.navigation-menu > div {
  display: flex;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.navigation-menu-blackout {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 2;
  backdrop-filter: blur(2px);
  background-color: #0b0e11;
  transition: opacity 0.5s;
}

.navigation-menu-blackout.active {
  opacity: 1;
  visibility: visible;
}