.block.review > .top svg {
  fill: var(--secondary-text-color);
}

.block.review > .top {
  margin-top: -6px;
  display: flex;
  color: var(--secondary-text-color);
}

.block.review > .main p {
  margin: 10px 0 0;
}

.block.review > .top > div {
  margin: auto 0;
}

.block.review > .top > .subject {
  flex: 1;
  text-align: right;
}

.review-group > .review {
  margin: 0 0 10px;
}