@import "src/styles/partials/theme";

.medium-switch-text {
  font-size: 16px;
  line-height: 21.76px;
  padding-top: 2px;
  font-weight: 400;
}

.small-switch-text {
  @extend .medium-switch-text;
  font-size: 14px;
  line-height: 19.6px;
  font-weight: 400;
}

.medium-container {
    display: flex;
    padding: 4px 8px 4px 8px;
    gap: 8px;
}

.medium-switch-input,
.small-switch-input {
    display: none;
}


.medium-switch-slider {
    &::before {
        display: flex;
        content: "";
        position: relative;
        cursor: pointer;
        width: 40px;
        height: 20px;
        top: 2px;
        background-color: $background-dark-200;
        border-radius: 100px;
        transition: 0.4s ease-in-out;
    }

    &::after {
        display: flex;
        content: "";
        position: relative;
        cursor: pointer;
        left: 1px;
        top: -17px;
        width: 18px;
        height: 18px;
        background-color: $background-dark-35;
        border-radius: 100px;
        transition: 0.4s ease-in-out;
    }
}


.medium-switch-input:checked+.medium-switch-slider::before {
    background-color: $red-logo;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.medium-switch-input:checked+.medium-switch-slider::after {
    background-color: $white;
    left: 21px;
}

.small-container {
    display: flex;
    padding: 2px 4px 2px 4px;
    gap: 8px;
}

.small-switch-slider::before {
    @extend .medium-switch-slider, ::before;
    width: 36px;
    height: 18px;
    top: 4px;
}


.small-switch-slider::after {
    @extend .medium-switch-slider, ::after;
    width: 16px;
    height: 16px;
    top: -13px;
}

.small-switch-input:checked+.small-switch-slider::before {
    background-color: $red-logo;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.small-switch-input:checked+.small-switch-slider::after {
    background-color: $white;
    left: 19px;
}