@import 'src/styles/partials/theme';

.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media screen and (max-width: 1024px) {
  .form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    height: 100%;
    padding: 24px 32px;
  }
}

@media screen and (max-width: 425px) {
  .form {
    padding: 24px 21px;
  }
}

