@import 'src/styles/partials/utils';
@import 'src/styles/partials/theme';

.wrapper {
  width: 632px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.toQuestionsList {
  width: 100%;
  height: 52px;
  border-bottom: 1px solid $gray-50;
  display: none;
  transition: 0.3s;
  b {
    width: auto;
  }
  div {
    position: absolute;
    left: 0;
    top: calc(50% - 18px);
    background-color: transparent;
    padding: 0 16px;

    button {
      background-color: transparent;
    }
  }
  &:hover {
    background: $background-dark-35;
  }

  &:active {
    background: $gray-50;
  }
}

.answersWrapper {
  width: 100%;
}
.question {
  padding-bottom: 40px;
}

.question-number {
  margin-bottom: 16px;
  font-size: 16px;
  color: $white;
}

.question-title {
  margin-bottom: 16px;
  font-size: 20px;
  color: $white;
}

.question-description {
  margin-bottom: 20px;
  margin-top: 12px;
  font-size: 14px;
  color: $gray-500;
  font-weight: 500;
}

.question-criteria {
  font-size: 14px;
  color: $gray-300;
  font-weight: 300;
}

.options {
  display: flex;
  justify-content: start;

  div {
    margin-right: 36px;
  }
}

.button {
  width: auto;
}

.textarea {
  width: 632px;
  height: 178px;
}

@media screen and (max-width: 1400px) {
  .wrapper {
    margin-left: 124px;
    max-width: 500px;
  }
  .textarea {
    width: 500px;
  }
}

@media screen and (max-width: 1280px) {
  .wrapper {
    width: 360px;
  }
}

@media screen and (max-width: 1024px) {
  .textarea {
    width: 328px;
    height: 228px;
  }
  .toQuestionsList {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
  }
  .wrapper {
    max-width: 100vw;
    width: 100vw;
    margin: 0;
    height: 100vh;
    .answersWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      width: 100%;
      height: 100%;
      .form {
        width: 100%;
        height: 100%;
        padding: 24px 16px;

        .textarea {
          width: 100%;
          min-height: 250px;
          padding: 0;

          textarea {
            height: 228px;
            margin: 0;
          }
        }
        .button {
          width: 100%;
        }
      }
    }
  }
}
