@import "src/styles/partials/theme";

$divide-regular-color: $gray-200;

.divider-text{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.dividers-list{
  width: 100%;
}

.dividers-list-items {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 36px 0 0;
  width: 100%;
}

.no-text-line {
  border: 0.01px solid $divide-regular-color;
  width: 100%;
}

.divider-text{
  color: $divide-regular-color;
  padding: 0 8px;
}

.center-line{
  border: 0.01px solid $divide-regular-color;
  width: min(50%, 50%);
}

.text-left{
  padding-left: 0;
}

.side-line{
  border: 0.01px solid $divide-regular-color;
  width: 100%;
}

.text-right{
  padding-right: 0;
}