@import "src/styles/partials/utils";
@import "src/styles/partials/theme";
@import "src/styles/partials/breakpoints";
@import "src/styles/partials/typography-mixins";


.left-block{
  width: 480px;
  @include flex-center;
  flex-direction: column;
}

.telegram-button{
  margin: 16px 0;
}

.telegram-connected{
  color: $gray-300;
  margin-top: 14px;
  text-align: center;
}

.mobile-telegram-button{
  display: none;
  margin: 0 0 16px 0;
  @include body-secondary--bold;
  white-space: normal;
}

.form{
  margin-top: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.login-header{
  margin-top: 36px;
  text-align: center;
  font-size: 36px;
  line-height: 128%;
  font-weight: 600;
}

.password-link{
  margin-bottom: 36px;
  align-self: flex-start;
}

.mobile-register-logo-container{
  @include flex-center;
  margin: 8vh 4vh 8vh 4vh;
  display: none;
  padding: 8px;
  justify-content: center;
}

.mobile-register-logo{
  width: calc(100% - 40px);
  min-width: 200px;
}

.mobile-text{
  @include body-secondary--medium;
  display: none;
  margin: 0 0 14px 0;
  color: $gray-400;
}

.login-mobile-button{
  width: fit-content;
  margin-bottom: 30px;
  display: none;
}

.one-line{
  margin-top: 12px;
  display: flex;
  width: 100%;
  gap: 32px;
  .checkbox-container{
    @include flex-center;
    height: 52px;
  }
}

.agreement-checkbox{
  margin-top: 12px;
}

.register-button{
  margin-top: 30px;
  margin-bottom: 50px;
}


@media screen and (max-width: $breakpoint-desktop-semi-medium) {
  .right-block {
    display: none;
  }
  .mobile-register-logo-container {
    display: flex;
  }
  .login-header{
    display: none;
  }
  .mobile-text{
    display: flex;
  }
  .login-mobile-button{
    display: flex;
  }
}

@media screen and (max-width: $breakpoint-tablet) {
  .mobile-telegram-button{
    display: flex;
  }
  .telegram-button{
    display: none;
  }
  .register-button{
    padding: 12px 24px;
  }
}

@media screen and (max-width: $breakpoint-mobile-medium) {
  .agreement-checkbox{
    align-items: center;
    span{
      white-space: normal;
    }
  }
}
