@import "src/styles/partials/utils";
@import "src/styles/partials/theme";
@import "src/styles/partials/typography-mixins";
@import "src/styles/partials/breakpoints";

.tabs{
box-sizing: border-box;
}
.tab-list-desktop{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  gap: 8px;
}
.karusel{
  padding-top: 24px;
}
.tab-list-mobile{
  display: none;
}
.tab-panels-list{
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  //box-sizing: border-box;
}
.tab-panel{
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
.my-tab-panel{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  max-width: 604px;
  gap: 32px;
  padding: 84px 0;
  &-subjects{
    align-items: flex-start;
    justify-content: left;
    text-align: left;
    padding-bottom: 50px;
  }
}
.button-wrapper-desktop{
  display: flex;
  width: fit-content;
}
.button-wrapper-mobile{
  display: none;
}

@media screen and (max-width: 768px){
  .karusel{
    padding-top: 28px;
    width: calc(100% - 20px );
    overflow: hidden;
  }
  .tab-list-desktop {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    scrollbar-width: none;
  }
  .tab-list-desktop::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }
  .tab-panel-list{
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
    justify-content: left;
    text-align: left;
  }
  .my-tab-panel{
    padding: 40px 20px;
  }

  .button-wrapper-mobile{
    display: flex;
    width: fit-content;
  }
  .button-wrapper-desktop{
    display: none;
  }

}

@media screen and (max-width: 480px){


  .karusel{
    padding-top: 20px;
    width: 100%;
    overflow: hidden;
  }
  .test-tab-list{
    width: 100%;
  }
  .tab-list-desktop{
    display: none;
  }
  .tab-list-mobile {
    //width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
    overflow: scroll;
    scrollbar-width: none;
    box-sizing: border-box;
  }
  .tab-list-mobile::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }
  .my-tab-panel {
    padding: 42px 16px 54px 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
    justify-content: left;
    text-align: left;
    &-subjects{
      padding-bottom: 50px;
    }
  }
  .tab-panel-list{
    max-width: unset;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
    justify-content: left;
    text-align: left;
  }
  .button-wrapper-mobile{
    display: flex;
    width: fit-content;
  }
  .button-wrapper-desktop{
    display: none;
  }
}

.subject-search-list {
  margin-top: 16px;
  margin-bottom: 16px;
  display: block;
  flex-direction: row;
  columns: 4;
  & li {
    margin-bottom: 16px;
    break-inside: avoid;
  }
}

@media only screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
  .subject-search-list {
    columns: 3;
  }
}

@media screen and (max-width: $breakpoint-tablet) {
  .subject-search-list {
    columns: 2;
  }
}

@media only screen and (max-width: $breakpoint-mobile){
  .subject-search-list {
    columns: 1;
  }
}