.division {
  display: flex;
  margin-bottom: 30px;
  width: 70%;
  align-items: center;
  .white {
    flex-grow: 1;
    background-color: white;
    height: 1px;
  }
  .division-text{
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    margin-right: 12px;
  }
}

.button-container{
  width: 20%;
  margin-bottom: 54px;
  button{
    padding: 12px 44.5px;
  }
}

.button-container-mobile{
  @extend .button-container;
  display: none;
}

.input-form{
  width: 40%;
}

.input {
  margin-top: 18px;
}

.confirm-button{
  width: 50%;
  margin: 16px 0 30px 0;
  button{
    padding: 12px 24px;
  }
}

.confirm-button-mobile {
  @extend .confirm-button;
  display: none;
}

.change-password-button{
  padding-left: 10px;
}

.user-information{
  width: 40%;
  div{
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .input-form{
    width: 100%;
  }
  .division{
    width: 100%;
    margin-top: 0;
  }
  .button-container{
    margin-bottom: 10%;
    button{
      padding: 8px 29px;
    }
  }
  .confirm-button{
    display: none;
  }
  .confirm-button-mobile{
    display: block;
    button{
      padding: 6px 12px;
    }
  }
  .button-container{
    display: none;
  }
  .button-container-mobile{
    display: block;
  }
  .change-password-button{
    padding: 6px 12px;
  }
  .user-information{
    width: 100%;
  }
}