.web-switch-text {
  font-size: 16px;
  line-height: 21.76px;
  padding-top: 2px;
  font-weight: 400;
}

.mobile-switch-text {
  @extend .web-switch-text;
  font-size: 14px;
  line-height: 19.6px;
  font-weight: 400;
}

.web-container {
    display: flex;
    padding: 4px 8px 4px 8px;
    gap: 8px;
}

.web-switch-input,
.mobile-switch-input {
    display: none;
}


.web-switch-slider {
    &::before {
        display: flex;
        content: "";
        position: relative;
        cursor: pointer;
        width: 40px;
        height: 20px;
        top: 2px;
        background-color: #747474;
        border-radius: 100px;
        transition: 0.4s;
    }

    &::after {
        display: flex;
        content: "";
        position: relative;
        cursor: pointer;
        left: 1px;
        top: -17px;
        width: 18px;
        height: 18px;
        background-color: #343434;
        border-radius: 100px;
        transition: 0.4s;
    }
}


.web-switch-input:checked+.web-switch-slider::before {
    background-color: #FD4444;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.web-switch-input:checked+.web-switch-slider::after {
    background-color: #FFFFFF;
    left: 21px;
}

.mobile-container {
    display: flex;
    padding: 2px 4px 2px 4px;
    gap: 8px;
}

.mobile-switch-slider::before {
    @extend .web-switch-slider, ::before;
    width: 36px;
    height: 18px;
    top: 4px;
}


.mobile-switch-slider::after {
    @extend .web-switch-slider, ::after;
    width: 16px;
    height: 16px;
    top: -13px;
}

.mobile-switch-input:checked+.mobile-switch-slider::before {
    background-color: #FD4444;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.mobile-switch-input:checked+.mobile-switch-slider::after {
    background-color: #FFFFFF;
    left: 19px;
}