@import "src/styles/partials/utils";
@import "src/styles/partials/theme";

.header-card-container {
    & img {
        aspect-ratio: 1/1;
        width: 36px;
    }
    & h4 {
        font-size: 14px;
    }
    transition: all linear 0.1s;
    background-color: $background-dark--10;
    min-width: fit-content;
    min-height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 4px;
    gap: 8px;
    border: 1px solid transparent;
    & .header-card-info {
        font-size: 11px;
        color: $gray-300;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-end;
        gap: 4px;
    }
    & .header-card-group-name {
        padding: 1px;
        margin-left: 10px;
        border-radius: 5px;
        border: 0.2px solid $gray-300;
    }
    &:hover {
        cursor: pointer;
        & h4,
        & .header-card-info {
            color: $gray-500;
        }
        & .header-card-group-name {
            border-color: $gray-500;
        }
    }
    &:focus {
        & h4,
        & .header-card-info {
            color: $gray-400;
        }
        & .header-card-group-name,
        & .header-card-postition {
            color: $gray-300;
        }
        & .header-card-group-name {
            border-color: $gray-300;
        }
    }
    &:active {
        & .header-card-info {
            & h4 {
                color: $gray-300;
            }
            color: $gray-300;
        }
        & .header-card-group-name {
            border-color: $gray-300;
        }
        border-color: $background-dark-10;
    }
}

.card{
    // cursor: pointer;
    background-color: $background-dark-35;
    padding: 16px;
    border-radius: 6px;
    width: 100%;
    min-width: fit-content;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
}

.card-effect{
    cursor: pointer;
    &:focus {
        border-color: $red-25;
    }
    &:active {
        border-color: $red-logo;
        background-color: $gray-50;
    }
    &:hover {
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    }
}

.card-disabled{
    border-color: transparent;
    background-color: $background-dark-100;
    pointer-events: none;
}

.lecturer-description {
    display: inline-block;
    font-size: 11px;
    line-height: 17.6px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: $gray-500;
}

.card-avatar {
    box-sizing: content-box;
    position: absolute;
    aspect-ratio: 1/1;
    width: 60px;
    border: 4px solid $background-dark-35;
    border-radius: 999px;
    transform: translateY(-75%);
}

.card-name {
    font-size: 14px;
    font-weight: 600;
}

.card-roles {
    // margin-top: calc(34px - 16px);
    @include flex-center;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: flex-start;
}

.header-lecturer-card-container {
    background-color: $background-dark-10;
    min-width: fit-content;
    min-height: fit-content;
    width: 100%;
    @include flex-center;
    gap: 16px;

    & .header-lecturer-card-info {
        display: flex;
        flex-direction: column;
        gap: 4px;
        height: fit-content;
    }

    & img {
        aspect-ratio: 1/1;
        width: 60px;
    }
}

.poll-card-container {
    margin-top: 3rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
}

.rating-card-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    margin-top: 3rem;
    height: fit-content;
    background-color: $background-dark-35;
}

.simple-card-container {
   display: flex;
   flex-direction: column;
   gap: 8px;

    & .simple-card-name {
        
        font-size: 16px;
        font-weight: 700;
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }
}
