@import "src/styles/partials/utils";
@import "src/styles/partials/theme";

.link {
  color: $info-100;
;
  column-gap: 8px;
  font-size: 14px;
  border-bottom: 1px solid $info-100;
  cursor: pointer;
  &:visited{
    color: $info-25;
    border-bottom: 1px solid $info-25;
  ;
  }
  &:hover {
    color: $info-200;
    border-bottom: 1px solid $info-200;
  }
  &:active {
    color: $info-400;
    border-bottom: 1px solid $info-400;
  }
}