@import "src/styles/partials/utils";

.link {
  color: #0EA5E9;
;
  column-gap: 8px;
  font-size: 14px;
  border-bottom: 1px solid #0EA5E9;
  cursor: pointer;
  &:visited{
    color: #0369A1;
    border-bottom: 1px solid #0369A1;
  ;
  }
  &:hover {
    color: #38BDF8;
    border-bottom: 1px solid #38BDF8;
  }
  &:active {
    color: #7DD3FC;
    border-bottom: 1px solid #7DD3FC;
  }
}

