.contact {
  background-color: #151A21;
  border-radius: 8px;
  padding: 14px 24px;
  width: fit-content;
  cursor: pointer;
}

.contact:hover {
  background-color: #1a2029;
}

.contact > .contact-name {
  font-size: 12px;
  margin: -2px 0 2px;
  font-weight: 500;
  color: var(--secondary-text-color);
}

.contact-group {
  display: flex;
}

.contact-group > .contact {
  margin-right: 10px;
}