.teacher-info {
  display: flex;
}

.teacher-description > .description {
  margin: 0;
}

.block.teacher.collapsible {
  border-radius: 8px 8px 0 0;
  padding-bottom: 12px;
}

.teacher-info .name {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.block.teacher.collapsed {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.25), transparent 40px);
}

.teacher-list > a > div {
  margin-bottom: 10px;
}