@import "src/styles/partials/utils";
@import "src/styles/partials/theme";

.header-card-container {
    & img {
        aspect-ratio: 1/1;
        width: 36px;
    }
    & h4 {
        font-size: 14px;
    }
    @include flex-center;
    transition: all linear 0.1s;
    min-width: fit-content;
    min-height: fit-content;
    min-width: 286px;
    flex-wrap: nowrap;
    padding: 4px;
    gap: 8px;
    border: 1px solid transparent;
    & .header-card-info {
        font-size: 11px;
        color: $gray-300;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-end;
        gap: 4px;

    }
    & .header-card-group-name {
        padding: 1px;
        margin-left: 10px;
        border-radius: 5px;
        border: 0.2px solid $gray-300;

    }
    &:hover {
        cursor: pointer;

        & h4,
        & .header-card-info {
            color: $gray-500;
    
        }
        & .header-card-group-name {
            border-color: $gray-500;
    
        }
    }
    &:focus {
        & h4,
        & .header-card-info {
            color: $gray-400;
    
        }
        & .header-card-group-name,
        & .header-card-postition {
            color: $gray-300;
    
        }
        & .header-card-group-name {
            border-color: $gray-300;
    
        }
    }
    &:active {
        & .header-card-info {
            & h4 {
                color: $gray-300;
        
            }
            color: $gray-300;
        }
        & .header-card-group-name {
            border-color: $gray-300;
    
        }
        border-color: $background-dark-10;
    }
}

.card-name {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 280px;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 600;
}
