@import "../../../styles/partials/utils";
@import "../../../styles/partials/theme";
@import "../../../styles/partials/typography-mixins";

.forgot-password-page{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;

}
.forgot-password-page-content{
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 600px;
  padding-left: 16px;
  padding-right: 16px;
  height: fit-content;
  top: 103px;
  position: absolute;
  gap: 24px;

}
.text{
  text-align: center;
  color: $gray-300;
}

.icon {
  color: #FFFFFF;
  width: 48px;
  height: 37.33px;
}
.headline {
  h3 {
   @include h3--semi-bold
  }
}

.formik{
  text-align: unset;
  display: flex;
  width: 100%;
  color: $gray-300;

}
.form{
  display: flex;
  flex-direction: column;
  width:100%;
  gap:6px;
}


@media screen and (max-width: 480px){
  .forgot-password-page{
    height: 100vh;
  }
  .forgot-password-page-content{
    min-height: unset;
    min-width: unset;
    justify-content: unset;
    top: 15%;
    width:100%;
  }
  .icon {
    color: #FFFFFF;
    width: 36px;
    height: 28px;
  }

  .headline{
    h3{
    @include h4--semi-bold;
  }}
  .text{
    h6{
      @include body-secondary;
    }
  }
}