@import "src/styles/partials/theme";

.division {
  display: flex;
  margin: 20px 0 30px 0;
  width: 100%;
  align-items: center;
  .white {
    flex-grow: 1;
    background-color: white;
    height: 1px;
  }
  .division-text{
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    margin-right: 12px;
  }
}


.container {
  display: flex;
  width: 100%;
  gap: 8%
}

.personal-info{
  width: 45%;
}

.form {
  width: 100%;
}

.avatar{
  margin-bottom: 18px;
  img{
    width: 160px;
    height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
  }
}

.confirm-button{
  width: 50%;
  margin: 5px 0 36px 0;
}

.confirm-button-mobile {
  @extend .confirm-button;
  display: none;
}

.input {
  margin-top: 1.5%;
}

.telegram-button{
  width: fit-content;
}

.telegram-button-mobile{
  @extend .telegram-button;
  display: none;
}

.contact-item{
  display: flex;
  align-items: flex-start;
  gap: 2.5%;
  margin-bottom: 26px;
  a{
    flex-grow: 1;
  }
  button{
    margin-top: 8px;
  }
}

.contact-item-container{
  width: 100%;
}

.add-social-links-container{
  border: 2px solid $background-dark-35;
  padding: 26px 25px;
  margin-bottom: 55px;
  border-radius: 6px;
}

@media screen and (max-width: 1024px){
  .container{
    flex-direction: column-reverse;
  }
  .telegram-button{
    display: none;
  }
  .telegram-button-mobile{
    display: flex;
  }
  .avatar{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    img{
      max-width: 136px;
      max-height: 136px;
      width: 50%;
      height: 50%;
    }
  }
  .personal-info{
    width: 100%;
  }
  .avatar-and-telegram-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
  }
  .confirm-button{
    display: none;
  }
  .confirm-button-mobile{
    display: block;
    width: fit-content;
  }
  .button-container{
    display: none;
  }
  .container-mobile{
    display: block;
  }
  .change-password-button{
    padding: 6px 12px;
  }
}