// Light background color
$light-primary: #FFFBFB;
$light-secondary-1: #FFFFFF;
$light-secondary-2: #E2E2E2;

// Grey colors:
$grey-dropdown:#404040;

// Dark background color
$dark-primary: #1E1E1E;
$dark-secondary-1: #121212;
$dark-secondary-2: #232323;

// Button colors
$default-button-color: #FF5B5B;
$hover-button-color: #D33D3D;
$active-button-color: #FD4444;
$focused-button-color: #FD4444;
$disabled-button-color: #747474;

// Button text colors
$non-disabled-button-text-color: #FFFFFF;
$disabled-button-text-color: #ECECEE;

// Error/success input colors
$error-color: #EC131E;
$success-color: #3DA96D;

// Link colors
$white-link-color: #F0F9FF;
$blue-link-color: #0EA5E9;

// Tooltip colors
$tooltip-color: #FFE0E0;
$tooltip-text-color: #151515;

// Input colors
$default-input-color: #E5E5E5;
$default-input-placeholder-color: #D4D4D4;
$hover-input-color: #FFFFFF;
$hover-input-placeholder-color: #D4D4D4;
$focus-input-color: #FFFFFF;
$focus-input-placeholder-color: #404040;

// Tags colors
$primary-tag-first-bgc: #B83838;
$primary-tag-second-bgc: #873030;
$primary-tag-border-color: #747474;
$success-tag-first-bgc: #157F44;
$success-tag-second-bgc: #106034;
$success-tag-border-color: #64B98A;
$error-tag-first-bgc: #C11018;
$error-tag-second-bgc: #970C13;
$error-tag-border-color: #EC131E;
$warning-tag-first-bgc: #EA580C;
$warning-tag-second-bgc: #9A3412;
$warning-tag-border-color: #EA580C;
$info-tag-first-bgc: #0284C7;
$info-tag-second-bgc: #0C4A6E;
$info-tag-border-color: #0284C7;
$gray-tag-first-bgc: #404040;
$gray-tag-second-bgc: #292929;
$gray-tag-border-color: #525252;
$third-tags-bgc: #1E1E1E;
$svg-tag-color: #FFFFFF;

//Button-icons color
$grey-button: #343434;
$dark-red-button: #970C13;
$red-button: #EC131E;
$red-button-border: #C11018;
$darkest-red-button: #6D090E;
$disabled-grey-button: #1E1E1E;
$dark-green-button: #106034;
$green-button: #339B33;
$green-button-border: #106034;
$darkest-green-button: #08301A;
$disabled-button-font-color: #343434;

// Switch colors
$switch-off-knob-color: #343434;
$switch-on-knob-color: #FFFFFF;
$switch-on-color: #FD4444;
$switch-off-color: #747474;

// Checkbox colors
$check-default-color: #FFFFFF;
$check-disabled-color: #525252;

// Radio colors
$radio-default-color: #FFFFFF;
$radio-disabled-color: #525252;

// Arrows colors
$arrow-default-color: #292929;
$arrow-hover-color: #343434;
$arrow-active-color: #404040;