@import "../../../../../styles/partials/theme";
@import "../../../../../styles/partials/utils";

.medium-switch-text {
    font-size: 16px;
    line-height: 21.76px;
    font-weight: 400;
}

.small-switch-text {
    font-size: 14px;
    line-height: 19.6px;
    font-weight: 400;
}

.medium-container, .small-container  {
    @include flex-center;
    width: fit-content;
    height: 20px;
}

.medium-switch-input,
.small-switch-input {
    display: none;
}


.medium-switch-slider {
    display: flex;
    align-items: center;
    position: relative;
    &::before {
        @include flex-center;
        content: "";
        position: relative;
        cursor: pointer;
        width: 40px;
        height: 20px;
        background-color: $background-dark-200;
        border-radius: 100px;
        transition: 0.4s ease-in-out;
    }

    &::after {
        display: flex;
        content: "";
        position: absolute;
        left: 1px;
        cursor: pointer;
        width: 18px;
        height: 18px;
        background-color: $background-dark-35;
        border-radius: 100%;
        transition: 0.4s ease-in-out;
    }
}


.medium-switch-input:checked+.medium-switch-slider::before {
    background-color: $red-logo;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.medium-switch-input:checked+.medium-switch-slider::after {
    background-color: $white;
    left: 21px;
}



.small-switch-slider {
    @extend .medium-switch-slider;
}

.small-switch-slider::before {
    @extend .medium-switch-slider, ::before;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 36px;
    height: 18px;
}


.small-switch-slider::after {
    @extend .medium-switch-slider, ::after;
    width: 16px;
    height: 16px;
}

.small-switch-input:checked+.small-switch-slider::before {
    background-color: $red-logo;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.small-switch-input:checked+.small-switch-slider::after {
    background-color: $white;
    left: 19px;
}