@import "../../../../styles/partials/utils";
@import "../../../../styles/partials/theme";
@import "../../../../styles/partials/typography-mixins";

.card{
  display: grid;
  padding: 40px;
  width: 100%;
  grid-template-columns: auto auto minmax(296px, 1fr);
  grid-template-rows: auto  1fr  1fr;

}
.contacts-hidden{
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 16px;

  width:fit-content;
  height: fit-content;
  padding-right: 5%;
  padding-left: 42px;
  padding-top: 12px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 5;
}
.contacts-shown{
  display: flex;
  flex-direction: column;
  gap: 16px;
  width:fit-content;
  height: fit-content;
  padding-left: 42px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}

.contacts-item{
  &:only-child::after {
    top: 1px;
    height: 120px;
  }
  &:not(:only-child)::after {
    top: 0;
    height: 150%;
  }
  &::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 2px;
    background-color: white;
  }
}

.photo{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  padding-right: 32px;
}

.image{
  height:200px;
  width:200px;
  border-radius: 50%;
}
.name-and-rating{
  display: flex;
  min-width: unset;
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  flex-direction: column;
  align-items: flex-start;
  overflow-wrap: anywhere;
  h4{
    @include h4--semi-bold;
  }
  padding-right: 42px;
}

.tags{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;

  h6{
    @include body-primary;
  }
  padding-right: 42px;
}

.tags{
  display: flex;
  flex-direction: row;
  height: fit-content;
  gap: 8px;
}
.contacts-button {
  color: $gray-600;
  display: none;
}
.subject{
  display: flex;
  min-width: unset;
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  flex-direction: column;
  align-items: flex-start;
  overflow-wrap: anywhere;
  padding-right: 42px;
  h5{
    @include h5--bold;
  }
  padding-bottom: 18px;
  padding-top: 21px;
}

@media screen and (max-width: 1200px) {
  .card {
    box-sizing: border-box;
    width: 100%;
    padding: 24px;
    grid-template-columns:  auto auto 1fr;
    grid-template-rows: auto  1fr   auto auto auto auto;

  }

  .photo {
    width: fit-content;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .image {
    height: 140px;
    width: 140px;
  }
  .name-and-rating {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 1px;
  }
  .subject {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .tags {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 90%;
    padding-top: 14px;
  }

  .contacts-hidden{
    display: none;
  }
  .contacts-shown{
    display: flex;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;

    padding-right: unset;
    padding-left: unset;
    border: none;
  }

  .contacts-button{
    display: flex;
    width: fit-content;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    padding-left: 0;
    border: 2px transparent;
    &:hover {
      text-decoration: none;
      border: 2px transparent;
    }
    &:focus:not(:active) {
      border: 2px transparent;
    }
    &:active {
      text-decoration: none;
      border: 2px transparent;
    }
  }
}


@media screen and (max-width: 480px){
  .card{
    box-sizing: border-box;
    padding: 12px;
    width: 100%;
    grid-template-columns:  80px 1fr ;

  }

  .photo{
    width: fit-content;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-right: 8px;
  }
  .image{
    height: 68px;
    width: 68px;
  }
  .name-and-rating{
    width: 90%;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    h4{
      @include button--bold;
    }
  }
  .subject{
    width: 90%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    h5{
      @include body-secondary--bold;
    }
    padding-right: 0;
    padding-bottom: 8px;
    padding-top: unset;
  }
  .tags{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 90%;
    h6{
      @include overline-text;
    }
    padding-top: unset;
    padding-bottom: 8px;
  }


  .contacts-button{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    border: 2px transparent;
    &:hover {
      text-decoration: none;
      border: 2px transparent;
    }
    &:focus:not(:active) {
      border: 2px transparent;

    }
    &:active {
      border: 2px transparent;
    }
  }
  .contacts-hidden{
    display: none;
  }
  .contacts-shown{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    padding-right: unset;
    padding-left: unset;
    border: unset;
  }

}