$default-button-color: #FF5B5B;
$hover-button-color: #D33D3D;
$active-button-color: #FD4444;
$focused-button-color: #FD4444;
$disabled-button-color: #747474;

$non-disabled-button-text-color: #FAFAFA;
$disabled-button-text-color: #D4D4D4;