
// Default colors
$input-color: #E5E5E5;
$hover-input-color: #FFFFFF;
$focus-input-color: #FFFFFF;

$input-placeholder-color: #D4D4D4;
$hover-input-placeholder-color: #D4D4D4;
$focus-input-placeholder-color: #404040;
