@import "button-style";
@import "src/styles/partials/theme";

.primary-filled-button-variant{
  background: $red-400;
  color: $gray-600;
  outline: 2px transparent solid;

  &:hover {
    background: $red-100;
    outline: 2px transparent solid;
  }

  &:focus:not(:active) {
    background: $red-logo;
    outline: 2px solid $red-10;
  }

  &:active {
    background: $red-logo;
    outline: 2px transparent solid;
  }

  &:disabled {
    background: $background-dark-200;
    color: $gray-400;
    cursor: not-allowed;
  }
}

.primary-outline-button-variant{
  background: none;
  color: $gray-600;
  outline: solid 2px;

  &:hover {
    background: $red--10;
    outline-color: $red-100;

  }

  &:focus:not(:active) {
    background: $red-0;
    outline-color: $red-logo;
  }

  &:active {
    background: $red-10;
    outline-color: $red-logo;
  }

  &:disabled {
    background: $background-dark-0;
    color: $gray-50;
    outline-color: $gray-50;
    cursor: not-allowed;
  }
}
.primary-text-button-variant{
  background: none;
  color: $gray-400;

  &:hover {
    text-decoration: underline;
  }

  &:focus:not(:active) {
    outline: 2px solid $gray-50;
    color: $gray-600;
  }

  &:active {
    text-decoration: underline;
    color: $gray-600;
  }

  &:disabled {
    color: $gray-100;
    text-decoration: none;
    cursor: not-allowed;
  }
}
@include button-style("primary-large", 8px, 16px 32px, 16px 32px, 12px);
@include button-text("primary-large", 18px, 1.32, 700);

@include button-style("primary-medium", 8px, 12px 24px, 12px 24px, 12px);
@include button-text("primary-medium", 18px, 1.32, 700);

@include button-style("primary-small", 6px, 8px 12px, 6px 12px, 12px);
@include button-text("primary-small", 14px, 1.4, 700);







