@import "button-style";


.primary-red-button-color{
  background: $red-400;
  color: $gray-600;
  outline: 2px transparent solid;

  &:hover {
    background: $red-100;
  }

  &:active {
    background: $red-logo;
  }

  &:focus {
    background: $red-logo;
    outline: 2px solid $red-10;
  }

  &:disabled {
    background: #747474;
    color: $gray-400;
  }
}

.primary-gray-button-color{
  background: $background-dark-10;
  color: $gray-600;
  outline: 2px transparent solid;

  &:hover {
    background: $background-dark-35;
  }

  &:active {
    background: $gray-50;
  }

  &:focus {
    background: $background-dark-10;
    outline: 2px solid $gray-50;
  }

  &:disabled {
    background: $background-dark;
    color: $gray-50;
  }
}

@include button-style("primary-large", 8px, 16px 32px, 16px 32px, 12px);
@include button-text("primary-large", 18px, 1.32, 700);

@include button-style("primary-medium", 8px, 12px 24px, 12px 24px, 12px);
@include button-text("primary-medium", 18px, 1.32, 700);

@include button-style("primary-small", 6px, 8px 12px, 6px 12px, 12px);
@include button-text("primary-small", 14px, 1.4, 700);







