@import "button-style";

.secondary-red-button-color{
  outline: 2px solid #D33D3D;
  color: #FAFAFA;

  &:hover {
    background: #402626;
  }

  &:active {
    background: #873030;
    outline: 2px solid #FD4444;
  }

  &:focus {
    background: #5F3333;
  }

  &:disabled {
    outline: 2px solid #737373;
    color: #737373;
  }
}

.secondary-grey-button-color{
  outline: 2px solid #747474;
  color: #FAFAFA;

  &:hover {
    background: #292929;
  }

  &:active {
    background: #343434;
    outline: 2px solid #A3A3A3;
  }

  &:focus {
    background: #292929;
    outline: 2px solid #A3A3A3;
  }

  &:disabled {
    background: #1E1E1E;
    color: #404040;
  }
}

@include button-style("secondary-large", 8px, 16px 32px, 16px 32px, 12px);
@include button-text("secondary-large", 18px, 1.32, 700);

@include button-style("secondary-medium", 8px, 12px 24px, 12px 24px, 12px);
@include button-text("secondary-medium", 18px, 1.32, 700);

@include button-style("secondary-small", 6px, 8px 12px, 6px 12px, 12px);
@include button-text("secondary-small", 14px, 1.4, 700);







