@import "button-style";
@import "src/styles/partials/theme";

.secondary-filled-button-variant{
  background: $background-dark-10;
  color: $gray-600;
  border: 2px solid $background-dark-10;


  &:hover {
    background: $background-dark-35;
    border-color: $background-dark-35;
  }

  &:focus:not(:active) {
    background: $background-dark-10;
    border: 2px solid $background-dark-50;
  }

  &:active {
    background: $background-dark-50;
  }

  &:disabled {
    background: none;
    border: none;
    color: $background-dark-50;
    cursor: not-allowed;
  }
}

.secondary-outline-button-variant{
  border: 2px solid $background-dark-200;
  color: $gray-600;

  &:hover {
    background: $background-dark-10;
  }

  &:focus:not(:active) {
    background: $background-dark-10;
    border: 2px solid $gray-300;
  }

  &:active {
    background: $background-dark-35;
    border: 2px solid $gray-300;
  }

  &:disabled {
    border: none;
    background: none;
    color: $background-dark-50;
    cursor: not-allowed;
  }
}
.secondary-text-button-variant{
  background: none;
  color: $gray-400;
  border: transparent;
  border-radius: 2px !important;

  &:hover {
    text-decoration: underline;
    border: transparent;
  }

  &:focus:not(:active) {
    border: 0.5px solid $gray-500;
    color: $gray-600;
  }

  &:active {
    text-decoration: underline;
    border: transparent;
    color: $gray-600;
  }

  &:disabled {
    border: 2px transparent;
    color: $gray-100;
    text-decoration: none;
    cursor: not-allowed;
  }
}

@include button-style("secondary-large", 8px, 16px 32px, 16px 32px, 12px, 5px);
@include button-text("secondary-large", 18px, 1.32, 700);

@include button-style("secondary-medium", 8px, 12px 24px, 12px 24px, 12px, 4px);
@include button-text("secondary-medium", 18px, 1.32, 700);

@include button-style("secondary-small", 6px, 8px 12px, 6px 12px, 12px, 4px);
@include button-text("secondary-small", 14px, 1.4, 700);




