@import "src/styles/partials/theme";


.breadcrumb {
  width: 95%;
  height: 36px;
  margin-bottom: 32px;
  padding: 16px;
}
@media screen and (max-width: 1200px){
  .breadcrumb{
    padding-left: 0;
  }
}