@import 'src/styles/partials/utils';
@import 'src/styles/partials/theme';

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    width: 100%;
    animation-name: appear;
    animation-duration: 0.3s;
    margin-bottom: 24px;
  }
}
