
.tooltip-wrapper{
  display: block;
}

.tooltip-body {
  position: absolute;
  width: fit-content;
  padding: 4px 12px;
  text-align: center;
  border-radius: 4px;
  background-color: #FFE0E0;
  color: #151515;
}

.tooltip-text::after {
  content: " ";
  position: absolute;
  border: 5px solid transparent;
}

.tooltip-text-bottom::after {
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-color: transparent transparent #FFE0E0 transparent;
}

.tooltip-text-top::after {
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-color: #FFE0E0 transparent transparent transparent;
}

.tooltip-text-right::after {
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-color: transparent #FFE0E0 transparent transparent;
}

.tooltip-text-left::after {
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-color: transparent transparent transparent #FFE0E0;
}
