.button {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
}

.dropdown-content{
  display: block;
  position: absolute;
  background-color: black;
  top: 95%;
  right: 40%;
  width: 150px;
  height: 36px;
  z-index: 1;
}