@import "src/styles/partials/theme";

$number-range-width: 100%;
$slider-desk-height: 16px;
$slider-mob-height: 8px;
$slider-border-radius: 500px;

@mixin thumb-desk-size {
    width: 26px;
    height: 26px;
}

@mixin thumb-mob-size {
    width: 20px;
    height: 20px;
}

@mixin thumb {
    position: relative;
    cursor: pointer;
    background: $red-25;
    border: none;
    border-radius: 50%;
    margin-top: -6px;
}

.slider-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.slider,
.slider::-webkit-slider-runnable-track,
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: transparent;
    width: 100%;
}

.slider {
    &::-webkit-slider-runnable-track {
        height: $slider-desk-height;
        background: linear-gradient(to right, $red-25, $red-25), $background-dark-35;
        background-size: var(--background-size, 0%) 100%;
        background-repeat: no-repeat;
        border-radius: $slider-border-radius;
    }

    &::-webkit-slider-thumb {
        @include thumb-desk-size;
        @include thumb;
    }

    &::-moz-range-progress {
        background-color: $red-25;
        border-radius: $slider-border-radius;
    }

    &::-moz-range-track {
        background-color:$background-dark-35;
        border-radius: $slider-border-radius;
    }

    &::-moz-range-thumb {
        @include thumb-desk-size;
        @include thumb;
    }
}

.slider-mobile {
    &::-webkit-slider-runnable-track {
        height: $slider-mob-height;
    }

    &::-webkit-slider-thumb {
        @include thumb-mob-size;
    }

    &::-moz-range-thumb {
        @include thumb-mob-size;
    }
}

.target{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 99%;
}

.desktop-font{
    font-size: 16px;
}

.mobile-font{
    font-size: 14px;
}

.component-target{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 4px;

    width: 14px;
    height: 32px;
}

.white {
    background-color: $white;
    height: 4px;
    width: 0.85px;
}