.content{
  width: 45%;
}

.division {
  display: flex;
  margin: 20px 0 30px 0;  width: 100%;
  align-items: center;
  .white {
    flex-grow: 1;
    background-color: white;
    height: 1px;
  }
  .division-text{
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    margin-right: 12px;
    margin-left: 12px;
  }
}

.text-content {
  h4{
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 116%;
    margin-bottom: 24px;
  }
}

.alert-mobile{
  display: none;
}

@media screen and (max-width: 1024px){
  .content{
    width: 100%;
  }
  .alert{
    text-wrap: normal;
    height: fit-content;
  }
  .alert-description{
    padding-top: 0;
  }
  .alert-desktop{
    display: none;
  }
  .alert-mobile{
    display: flex;
  }
}