@import "src/styles/partials/theme";

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  //background-color: $background-dark-0;
  background: url("/assets/main-page/main-background.png");
  background-size: 100% 100%;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}

.nav {
  height: 64px;
}

.footer {
  width: 100%;
  margin-top: auto;
}

