@import "src/styles/partials/utils";
@import "src/styles/partials/theme";
@import "src/styles/partials/typography-mixins";

.reset-password-link-expired-page{
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;

}
.reset-password-link-expired-page-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 600px;
  padding-left: 16px;
  padding-right: 16px;
  height: fit-content;
  padding-top: 103px;
  padding-bottom: 103px;
  text-align: center;
}
.icon {
  color: #FFFFFF;
  svg{
    width: 64px;
    height: 64px;
  }
  padding: 8px;
  margin-bottom: 32px;
}
.headline {
  font-weight: 600;
  margin-bottom: 26px;
}

.text-and-button{
  max-width: 480px;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 36px;
  color: $gray-300;
  margin-bottom: 24px;
}

.button-wrap {
  width: 100%;
}


@media screen and (max-width: 540px){
  .reset-password-valid-link-page{
    height: 100vh;
  }
  .reset-password-link-expired-page-content{
    min-height: unset;
    min-width: unset;
    justify-content: unset;
    top: 15%;
    width:100%;
  }

  .text-and-button{
    h6{
      @include body-secondary;
    }
    gap: 18px;
    margin-bottom: 16px;
  }
  .icon{
    svg{
      width: 48px;
      height: 48px;
    }
    padding: 0;
    margin-bottom: 28px;
  }

  .headline{
    @include h4--bold;
    margin-bottom: 10px;
  }

}
