.content {
  display: flex;
  flex-direction: column;
}

.text-content {
  display: flex;
  gap: 8px;
  h4{
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 116%;
    margin-bottom: 24px;
  }
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}

.button {
  margin-left: 12px;
}

.division {
  display: flex;
  padding-bottom: 20px;
  align-items: center;
  .white {
    flex-grow: 1;
    background-color: white;
    height: 1px;
    margin-left: 12px;
    margin-right: 12px;
  }
  .division-text{
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  }
}

.add-button {
  padding: 6px 25px;
}