@import "button-style";

.error-primary-alert-button-color{
  background: #970C13;
  color: #FAFAFA;
  outline: 1px transparent solid;

  &:hover {
    background: #C11018;
  }

  &:active {
    background: #EC131E;
  }

  &:focus {
    background: #970C13;
    outline: 1px solid #C11018;
  }

  &:disabled {
    background: #1E1E1E;
    color: #343434;
  }
}

.error-secondary-alert-button-color{
  border: 2px solid #EC131E;
  color: #FAFAFA;

  &:hover {
    background: #970C13;
  }

  &:active {
    background: #C11018;
  }

  &:focus {
    background: #970C13;
  }

  &:disabled {
    background: #1E1E1E;
    color: #343434;
  }
}

.success-alert-button-color{
  background: #189550;
  color: #FAFAFA;
  outline: 1px transparent solid;

  &:hover {
    background: #157F44;
  }

  &:active {
    background: #106034;
  }

  &:focus {
    background: #189550;
    outline: 1px solid #106034;
  }

  &:disabled {
    background: #1E1E1E;
    color: #343434;
  }
}


@include button-style("alert", 4px, 8px 16px, 4px 8px, 6px);







