
@mixin button-set($size) {
  @if ($size == big) {
    width: 98px;
    height: 32px;

    &:hover {
      background-color: $dark-red-button;
      border: 1px solid $dark-red-button;
    }

    &:active {
      background-color: $red-button;
      border: 1px solid $red-button;
    }

    &:focus {
      background-color: $darkest-red-button;
      border: 1px solid $red-button-border;
    }

    &:disabled {
      background-color: $disabled-grey-button;
      border: 1px solid $disabled-grey-button;
      color: $disabled-button-font-color;
      cursor: default;
      path {
        stroke: $disabled-button-font-color;
      }
    }
  } @else {
    width: 72px;
    height: 32px;

    &:hover {
      background-color: $dark-green-button;
      border: 1px solid $dark-green-button;
    }

    &:active {
      background-color: $green-button;
      border: 1px solid $green-button;
    }

    &:focus {
      background-color: $darkest-green-button;
      border: 1px solid $green-button-border;
    }

    &:disabled {
      background-color: $disabled-grey-button;
      border: 1px solid $disabled-grey-button;
      color: $disabled-button-font-color;
      cursor: default;
      path {
        stroke: $disabled-button-font-color;
      }
    }
  }
}

.button-default {
  padding: 4px 8px;
  border-radius: 4px;

  @extend .body-primary;

  transition: all 0.2s ease-in-out;

  background-color: $grey-button;
  border: 1px solid $grey-button;
}

.big-alert-button button {
  @include flex-center;
  @include button-set(big);
  @extend .button-default;
}

.small-alert-button button {
  @include flex-center;
  @include button-set(small);
  @extend .button-default;
}