@import "src/styles/partials/theme";

$divide-regular-color: $gray-400;

.divider-text{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
}

.dividers-list{
  display: flex;
  justify-content: center;
  width: 100%;
}

.dividers-list-items {
  display: flex;
  align-items: center;
  padding: 0;
  width: 100%;
}

.no-text-line {
  width: 100%;
}

.divider-text{
  color: $gray-500;
  padding: 0 8px;
}

.center-line{
  border-color: $divide-regular-color;
  width: min(50%, 50%);
}

.text-left{
  padding-left: 0;
}

.side-line{
  border-color: $divide-regular-color;
  width: 100%;
}

.text-right{
  padding-right: 0;
}