@import "src/styles/partials/breakpoints";

.form {
    display: grid;
    grid-template-columns: 35% 15% 15% 5%;
    grid-template-rows: 1fr;
    gap: 12px;
    margin-bottom: 34px;
    align-items: center;
    .collapse-btn {
        display: none;
    }
    .dropdown-1 {
        width: 100%;
    }

    .dropdown-2 {
        width: 100%;
    }
}

.collapse-icon,.sort-icon{
    height: 48px;
    aspect-ratio: 1/1;
    align-self: flex-start;
    display: grid;
    align-self: center;
}


@media screen and (max-width: $breakpoint-tablet) {

    .form {
        grid-template-columns: 35% 45% 10%;
        justify-items: center;
    }

    .input {
        grid-column: 1 / span 2;
    }
    .collapse-btn {
        display: block !important;
        align-self: center;
    }
    .sort-icon{
        height: 36px;
        svg{
            width: 70%;
        }
    }
}

@media only screen and (max-width: $breakpoint-mobile){
    .form{
        column-gap: 15px;
        margin-bottom: 24px;
    }
}

