@import "src/styles/partials/breakpoints";

.form {
    display: grid;
    grid-template-columns: 35% 15% 15% 5%;
    grid-template-rows: 1fr;
    gap: 12px;
    margin-bottom: 34px;
    align-items: center;

}


@media screen and (max-width: $breakpoint-tablet) {
    .form {
        grid-template-columns: 35% 45% 10%;
        justify-items: center;
    }
    .input {
        grid-column: 1 / span 2;
    }
}

@media only screen and (max-width: $breakpoint-mobile){
    .form{
        column-gap: 15px;
        margin-bottom: 24px;
    }
}

