@import "/src/styles/partials/theme";
@import "/src/styles/partials/utils";

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 100%;
    height: 56px;
    background-color: rgba(23, 23, 23, 1);
    backdrop-filter: blur(8px);

}

.menu {
    @include flex-center;
    flex-direction: row;
    justify-content: space-around;
    gap: 28px;
}

.mobile-menu,
.account-buttons {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
    gap: 8px;

}

.drop {
    display: flex;
    height: fit-content;
    width: 100%;
    position: absolute;
    margin-top: 56px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: #1e1e1e;
    gap: 16px;
    flex-direction: column;
}

.login-buttons {
    @include flex-center;
    gap: 8px;
}

.first-button,
.second-button {
    @include flex-center;
}

.header-logo {
    @include flex-center;

    & img {
        width: 197px;
        height: 20px;
    }
}

@media (max-width: 1101px) {
    .header-logo {
        margin-left: 70px;
        flex-grow: 4;
    }
}