@import "/src/styles/partials/theme";
@import "/src/styles/partials/utils";

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.shadow {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(23, 23, 23, 0.65);
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 100%;
    height: 56px;
    padding-right: 6%;
    padding-left: 6%;
    background-color: rgba(23, 23, 23, 0.63);
    backdrop-filter: blur(8px);

}

.menu {
    @include flex-center;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 28px;
}

.mobile-menu,
.account-buttons {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
    gap: 8px;
}

.drop {
    display: flex;
    height: fit-content;
    width: 100%;
    position: absolute;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgba(23, 23, 23, 0.98);
    gap: 16px;
    flex-direction: column;
    animation-name: appear;
    animation-duration: 0.4s;
}

.login-buttons {
    @include flex-center;
    gap: 8px;
}

.first-button,
.second-button {
    @include flex-center;
}

.header-logo {
    @include flex-center;

    & img {
        width: 197px;
        height: 20px;
    }
}

@media (max-width: 1101px) {
    .header-logo {
        margin-left: 8%;
        flex-grow: 4;
    }
}