@import 'src/styles/partials/theme';
@import 'src/styles/partials/breakpoints';

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.wrapper {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: appear;
  animation-duration: 0.3s;
}

.shadow {
  background-color: $black;
  opacity: 0.65;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.content {
  background-color: $background-dark-10;
  border-radius: 8px;
  position: relative;
  width: 420px;
  height: fit-content;
  z-index: 2;

  .buttonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 16px;
  }

  .close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 36px;
    height: 36px;
    padding: 6px;
  }

  .movedClose {
    position: absolute;
    top: 8px;
    right: 16px;
    width: 36px;
    height: 36px;
    padding: 6px;
  }

  .title {
    font-size: 20px;
    text-align: start;
    padding: 13px 16px;
    width: 100%;
    
  }

  .titleWrapper {
    padding: 14px 20px;
    padding-top: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    

    .title {
      font-size: 20px;
      text-align: center;
      width: 100%;
    }
  }

  .description,
  .alignedLeftDescription {
    width: 100%;
    font-size: 14px;
    padding: 0 20px 16px 20px;
  }

  .description {
    text-align: center;
  }

  .alignedLeftDescription {
    text-align: left;
  }

  .buttonsWrapper {
    padding: 16px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 16px;

    .buttonWrapper {
      width: 130px;

      &:first-child {
        margin-right: 16px;
      }
    }

    .line {
      width: 100%;
    }
  }

  .alignRightButton {
    padding: 16px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;

    .buttonWrapper {
      width: 130px;

      &:first-child {
        margin-right: 16px;
      }
    }

    .line {
      width: 100%;
    }
  }
}

@media (max-width: $breakpoint-mobile-medium) {


  .content {
    background-color: $background-dark-10;
    border-radius: 8px;
    position: relative;
    margin-right: 15px;
    margin-left: 15px;
    height: fit-content;
    z-index: 2;

    .close {
      position: absolute;
      top: 8px;
      right: 8px;
      width: 36px;
      height: 36px;
      padding: 6px;
    }

    .movedClose {
      position: absolute;
      top: 8px;
      right: 16px;
      width: 36px;
      height: 36px;
      padding: 6px;
    }

    .title {
      font-size: 20px;
      text-align: start;
      padding: 13px 16px;
      width: 100%;
    }

    .titleWrapper {
      padding: 14px 20px;
      padding-top: 27px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;

      .title {
        font-size: 20px;
        text-align: center;
        width: 100%;
      }
    }

    .description,
    .alignedLeftDescription {
      width: 100%;
      font-size: 14px;
      padding: 0 20px 16px 20px;
    }

    .description {
      text-align: center;
    }

    .alignedLeftDescription {
      text-align: left;
    }

    .buttonsWrapper {
      padding: 16px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      gap: 16px;

      .buttonWrapper {
        width: 182px;

        &:first-child {
          margin-right: 16px;
        }
      }

      .line {
        width: 100%;
      }
    }

    .alignRightButton {
      padding: 16px 20px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .buttonWrapper {
        &:first-child {
          margin-right: 16px;
        }
      }

      .line {
        width: 100%;
      }
    }
  }

}