@import "../../../styles/partials/utils";
@import "../../../styles/partials/breakpoints";

$left-block-width: 606px;
$right-block-width: 834px;


.login-page {
  position: relative;
  width: 100%;
  min-height: 100vh;
  @include flex-center;
  background-size: 100% 100%;
  padding: 0 30px;
}
.background-image {
  height: fit-content;
  position: absolute;
  top: 0;
  min-height: 100%;
  width: 100%;
  z-index: 0;
}

.login-page__content{
  z-index: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 635px;
  max-width: 1200px;
  justify-content: space-around;
}

@media screen and (max-width: $breakpoint-desktop-semi-medium) {
  .divider {
    display: none;
  }
  .login-page__content {
    max-width: 480px;
    width: 100%;
    align-items: flex-start;
  }

  .login-page {
    background-size: $breakpoint-desktop-semi-medium 100%;
  }

}

