@import "src/styles/partials/utils";
@import "src/styles/partials/breakpoints";

$left-block-width: 606px;
$right-block-width: 834px;


.login-page {
  width: 100%;
  min-height: 100vh;
  @include flex-center;
  background: url("/assets/login-page/login-background.png") no-repeat;
  background-size: 100% 100%;
  padding: 0 30px;
}

.login-page__content{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 635px;
  max-width: 1200px;
  justify-content: space-around;
}

@media screen and (max-width: $breakpoint-desktop-semi-medium) {
  .divider {
    display: none;
  }
  .login-page__content {
    max-width: 480px;
    width: 100%;
    align-items: flex-start;
    height: 100vh;
  }

  .login-page {
    background-size: $breakpoint-desktop-semi-medium 100%;
  }

}



//
//
//@media (max-width: 1440px) {
//
//  .login-page__content{
//    width: 100%;
//    justify-content: space-evenly;
//    gap: 0;
//  }
//}
//
//@media (max-width: 1150px) {
//  .left-block{
//    display: none;
//  }
//  .login-page{
//    align-items: start;
//    //hr{
//    //  display: none;
//    //}
//  }
//  .right-block{
//    padding-top: 10%;
//  }
//}
//
//@media (max-width: 650px) {
//  .login-page__content{
//    padding: 0 20px;
//  }
//
//  .right-block__content{
//    width: 100%;
//  }
//
//}
//
//
//@media (max-width: 400px) {
//  .right-block__content{
//    .large-button{
//      padding: 6px 12px;
//
//      font-size: 14px;
//      line-height: 1.4;
//      gap: 4px;
//    }
//
//    .register-header{
//      font-size: 28px;
//      line-height: 32px;
//      font-weight: 700;
//    }
//  }
//}

