:root {
  --content-width: 840px;
  --side-block-width: calc((100vw - var(--content-width)) / 2);
  --background-color: #0B0E11;
  --primary-text-color: #DFE3E9;
  --secondary-text-color: #5D7290;
  --accent-text-color: #FD4D4D;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-size: 14px;
}

* {
  font-family: Roboto, sans-serif;
}

input, button, textarea, select {
  padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.page > .main {
  width: 100%;
  display: flex;
}

.page > .main > .left, .page > .main > .right {
  width: calc(var(--side-block-width) - 40px);
}

.page > .main > .content, .page > .header > .content {
  width: var(--content-width);
  padding: 0 20px;
  margin: auto;
}

a > .block:hover {
  background-color: #1a2028;
}

.block .block {
  background-color: #1c222c;
}

.block a > .block:hover {
  background-color: #202732;
}

@media (max-width: 600px) {
  .adaptive-input-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .adaptive-input-container > * {
    width: 100%;
  }

  .adaptive-input-container > *:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media (min-width: 600px) {
  .adaptive-input-container > *:not(:last-child) {
    margin-right: 10px;
  }
}

.block {
  background-color: #161b22;
  border-radius: 8px;
  padding: 24px;
}

.page > .main {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.button-group {
  padding-top: 10px;
}

.button-group > button {
  margin: 0 10px 10px 0px;
}

.button-group > button:last-child {
  margin-right: 0px;
}

.tag-group > .tag {
  margin: 0 5px 5px 0px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  padding: 0;
  margin: 5px 0 25px;
}

.title.inner {
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0;
}

.divider {
  background-color: #323D4D;
  width: calc(100% + 10px);
  margin: 24px -5px;
  height: 1px;
}

.avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.avatar.small {
  width: 32px;
  height: 32px;
}

a.read-more {
  font-weight: 500;
  cursor: pointer;
}

.collapsible {
  transition: max-height 0.35s;
  overflow: hidden;
}

@media (max-width: 600px) {
  .rating {
    font-size: 12px;
  }

  .rating > svg {
    width: 12px;
    height: 12px;
    margin: auto 0 -1px 3px;
  }
}

.teacher-info .rating {
  font-size: 12px;
  margin: auto 0;
}

.teacher-info .rating > svg {
  width: 12px;
  height: 12px;
  margin: auto 0 -1px 3px;
}

.tag {
  font-size: 12px;
  border-radius: 5px;
  background-color: #242C37;
  padding: 3px 10px;
  cursor: default;
}

a > .tag {
  cursor: pointer;
}

.disclaimer {
  background-color: #151A21;
  border-radius: 8px;
  padding: 12px 24px;
  border: 1px dashed #5D7290;
  text-align: center;
}

.form-block .disclaimer {
  border: 1px solid #5d729048;
}

.disclaimer.alert {
  border-color: #fd4444;
  color: #fd4444;
}

a:visited:not(.simple), a:link:not(.simple) {
  color: var(--primary-text-color);
  font-weight: 500;
  text-decoration: none;
}

a:hover:not(.simple) {
  color: white;
}

a.simple {
  color: inherit;
  text-decoration: inherit;
}

.information-block {
  line-height: 20px;
  margin-bottom: 20px;
}

.rating-small > svg {
  width: 14px;
  height: 14px;
}

.rating-select {
  display: flex;
}

.rating-select > div {
  height: 10px;
  flex-grow: 1;
  background-color: #242c37;
  cursor: pointer;
}

.rating-select > div:hover {
  background-color: #2e3846;
}

.rating-select > div.active {
  background-color: #5d7290;
}

.rating-select > div:first-child {
  border-radius: 8px 0 0 8px;
}

.rating-select > div:last-child {
  border-radius: 0 8px 8px 0;
}

.rating-select > div:nth-child(even):not(:last-child) {
  margin-right: 5px;
}

.faq button.dropdown {
  height: fit-content;
}

.faq button.dropdown > div > span {
  margin: auto 0;
}

.faq button.dropdown .arrow {
  display: none;
  visibility: hidden;
}

.faq {
  display: block;
}

.faq > div:not(:last-child) {
  margin-bottom: 10px;
}

.faq > div, .faq > div > button {
  width: 100%;
}

.global-search {
  position: relative;
  flex: 1;
  display: flex;
}

.global-search > .global-search-container {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}

.global-search > .global-search-container .input {
  box-sizing: border-box;
}

.global-search-content {
  z-index: 10;
  position: absolute;
  display: block;
  width: 100%;
  background-color: #242C37;
  padding: 10px 0px;
  border-radius: 0 0 8px 8px;
  box-shadow: -2px 4px 4px rgba(0,0,0,0.5);
}

.global-search-content a.search-item {
  width: 100%;
  padding: 5px 24px;
  display: block;
  box-sizing: border-box;
  font-weight: normal;
}

.global-search-content .divider {
  width: 100%;
  margin: 10px 0;
}

.global-search-content svg {
  fill: var(--primary-text-color);
}

.global-search-content a.search-item:hover {
  background-color: #2d3642;
}

.superhero {
  display: flex;
}

.superhero .superhero-info {
  margin: auto 0;
  flex-grow: 1;
}

.superhero .superhero-info .secondary {
  float: right;
}

@media (max-width: 600px) {
  .superhero .superhero-info > span:first-child {
    display: block;
  }

  .superhero .superhero-info > span.secondary {
    float: none;
    margin-top: 5px;
  }

  .superhero img {
    vertical-align: middle;
    width: 32px !important;
    height: 32px !important;
    margin: 1px 10px 0 0 !important;
  }
}

.superhero .superhero-info .tag {
  margin-left: 10px;
}

.superhero img {
  width: 24px;
  height: 24px;
  margin: -4px 10px -6px 0;
  border-radius: 50%;
}

.block-container > div:not(:last-child), .block-container > a:not(:last-child) > div {
  margin-bottom: 10px;
}

.modal {
  z-index: 100;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: -1px 2px 10px rgba(0,0,0,0.5);
}

.modal > .modal-actions {
  display: flex;
  margin-top: 10px;
}

.modal > .modal-title {
  margin-bottom: 20px;
}

.modal-actions > button:not(:last-child) {
  margin-right: 10px;
}

.clickable {
  cursor: pointer;
}

.form-block {
  padding: 10px;
  border: 1px dashed #5D7290;
  border-radius: 8px;
  background-color: #ffffff03;
}