:root {
  --content-width: 840px;
  --side-block-width: calc((100vw - var(--content-width)) / 2);
  --background-color: #0B0E11;
  --primary-text-color: #DFE3E9;
  --secondary-text-color: #5D7290;
  --accent-text-color: #FD4D4D;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-size: 14px;
}

* {
  font-family: Roboto, sans-serif;
}

input, button, textarea, select {
  padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.page > .main {
  width: 100%;
  display: flex;
}

.page > .main > .left, .page > .main > .right {
  width: calc(var(--side-block-width) - 40px);
}

.page > .main > .content, .page > .header > .content {
  width: var(--content-width);
  padding: 0 20px;
  margin: auto;
}

.block {
  background-color: #151A21;
  border-radius: 8px;
  padding: 24px;
}

.page > .main {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.button-group {
  padding-top: 10px;
}

.button-group > button {
  margin: 0 10px 10px 0px;
}

.button-group > button:last-child {
  margin-right: 0px;
}

.tag-group > .tag {
  margin: 0 5px 5px 0px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  padding: 0;
  margin: 5px 0 25px;
}

.title.inner {
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0;
}

.divider {
  background-color: #323D4D;
  width: calc(100% + 10px);
  margin: 10px -5px;
  height: 1px;
}

.avatar {
  width: 96px;
  height: 96px;
  border-radius: 50%;
}

a.read-more {
  font-weight: 500;
  cursor: pointer;
}

.collapsible {
  transition: max-height 0.35s;
  overflow: hidden;
}

.rating {
  font-size: 12px;
  margin: auto 0;
}

.rating > svg {
  width: 12px;
  height: 12px;
  margin: auto 0 -1px 3px;
}

.tag {
  font-size: 12px;
  border-radius: 5px;
  background-color: #242C37;
  padding: 3px 10px;
  cursor: default;
}

a > .tag {
  cursor: pointer;
}

.disclaimer {
  background-color: #151A21;
  border-radius: 8px;
  padding: 12px 24px;
  border: 1px dashed #5D7290;
  text-align: center;
}

.space-b {
  margin-bottom: 10px;
}

.space-t {
  margin-top: 10px;
}

.disclaimer.alert {
  border-color: #fd4444;
  color: #fd4444;
}

a:visited:not(.simple), a:link:not(.simple) {
  color: var(--primary-text-color);
  font-weight: 500;
  text-decoration: none;
}

a:hover:not(.simple) {
  color: white;
}

a.simple {
  color: inherit;
  text-decoration: inherit;
}

.information-block {
  line-height: 20px;
  margin-bottom: 20px;
}