@import 'src/styles/partials/utils';
@import 'src/styles/partials/theme';

.poll-page__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  background-color: $background-dark-0;
}

.poll-page__content-wrapper {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .poll-page__content-wrapper {
    .breadcrumbs-wrapper {
      display: none;
    }
  }
}
