.tab {
  display: flex;
  align-items: center;
  overflow: hidden; // to disable scrolling if the text goes outside the bounds

  padding: 8px 16px;
  gap: 8px;
  background: $background-dark-0;

  cursor: pointer;

  &:focus {
    outline: 1px solid $red-10;
  }

  &:hover {
    background: $background-dark-10;

    >.count {
      background: $background-dark-35;
    }
  }

  &:active {
    background: $background-dark-35;

    >.count {
      background: $gray-50;
    }
  }

  &:disabled {
    background: $background-dark-0;
    cursor: default;

    >.text {
      color: $gray-50;
    }

    >.icon {
      opacity: 15%; // imitate disabled-icon-color ($gray-50)
    }

    >.count {
      background: $background-dark-0;

      >.count-text {
        color: $gray-50;
      }
    }
  }
}

.tab-normal {
  @extend .tab;
  width: 200px;
  height: 48px;

  >.text {
    height: 26px;
    font-weight: 400;
    font-size: 18px;
    line-height: 142%;
  }

  >.count {
    height: 23px;
    min-width: 23px;
    width: auto;
    padding: 1px 8px;

    >.count-text {
      font-size: 16px;
      line-height: 132%;
    }
  }
}

.tab-small {
  @extend .tab;
  width: 136px;
  height: 36px;

  >.text {
    height: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 138%;
  }

  >.count {
    height: 20px;
    min-width: 20px;
    width: auto;
    padding: 0 7px;

    >.count-text {
      font-size: 14px;
      line-height: 140%;
    }
  }
}

.centre {
  justify-content: center;
}

.left {
  // standard, without settings
}

.text {
  font-style: normal;
  font-feature-settings: 'case' on, 'kern' off;
  color: $gray-600;

  text-align: center;
  flex: none;
  justify-content: center;

  user-select: none;
}

.icon {
  width: 24px;
  height: 24px
}

.count {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  background: $background-dark-10;
  border-radius: 24px;
}

.count-text {
  @extend .text;
  font-weight: 500;
  color: $gray-500;
}