@import "src/styles/partials/theme";

.button {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  width: 20px;
}

.dropdown-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  background-color: #1E1E1E;
  border-radius: 5px;
  top: 105%;
  right: 35%;
  width: 160px;
  height: 78px;
  box-shadow: 1px 1px 3px rgba(10, 10, 10, 0.09), 2px 4px 16px rgba(13, 13, 13, 0.13);
}

.dropdown-button{
  padding: 0 0 0 14px;
  height: 50%;
  justify-content: flex-start;
}

.moderator-dropdown-content{
  @extend .dropdown-content;
  height: 36px;
}

.moderator-dropdown-button{
  @extend .dropdown-button;
  height: 100%;
}

.button > .disabled-button{
  background-color: transparent !important;
}