name: Build Back-end

on:
  pull_request:
    branches:
      - 'dev'
      - 'master'
    paths:
      - 'fictadvisor-api/**'
      - '.github/**'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Node and dependencies
        uses: ./.github/actions/install
      - name: Run tests
        run: npx turbo test:unit
  integration-test-fictadvisor:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Node and dependencies
        uses: ./.github/actions/install
      - name: Start PostgreSQL Database
        run: |
          docker compose -f fictadvisor-api/docker-compose.yml up -d && sleep 5s
      - name: Start migration
        run: npx turbo migrate:test:fictadvisor
      - name: Start seeding
        run: npx turbo test:seed:fictadvisor
      - name: Run integration tests
        run: npx turbo test:integration:fictadvisor
  integration-test-cohorta:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Node and dependencies
        uses: ./.github/actions/install
      - name: Start PostgreSQL Database
        run: |
          docker compose -f fictadvisor-api/docker-compose.yml up -d && sleep 5s
      - name: Start migration
        run: npx turbo migrate:test:cohorta
      - name: Start seeding
        run: npx turbo test:seed:cohorta
      - name: Run integration tests
        run: npx turbo test:integration:cohorta
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Build and push app Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          file: ./fictadvisor-api/Dockerfile
          tags: fictadvisor/fictadvisor-api
