name: Build Front-end

on:
  pull_request:
    branches:
      - 'dev'
      - 'master'
    paths:
      - 'fictadvisor-web/**'
      - '.github/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Build and push app Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          file: ./fictadvisor-web/Dockerfile
          build-args:
            NODE_ENV=${{ github.ref_name == 'master' && 'production' || 'development' }}
          tags: fictadvisor/fictadvisor-web
