name: Deploy Back-end

on:
  push:
    branches:
      - 'dev'
      - 'master'
    paths:
      - 'fictadvisor-api/**'
      - '.github/**'


jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Node and dependencies
        uses: ./.github/actions/install
      - name: Run tests
        run: npx turbo test:unit
  integration-test-fictadvisor:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Node and dependencies
        uses: ./.github/actions/install
      - name: Start PostgreSQL Database
        run: |
          docker compose -f fictadvisor-api/docker-compose.yml up -d && sleep 5s
      - name: Start migration
        run: npx turbo migrate:test:fictadvisor
      - name: Start seeding
        run: npx turbo test:seed:fictadvisor
      - name: Run integration tests
        run: npx turbo test:integration:fictadvisor
  integration-test-cohorta:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Node and dependencies
        uses: ./.github/actions/install
      - name: Start PostgreSQL Database
        run: |
          docker compose -f fictadvisor-api/docker-compose.yml up -d && sleep 5s
      - name: Start migration
        run: npx turbo migrate:test:cohorta
      - name: Start seeding
        run: npx turbo test:seed:cohorta
      - name: Run integration tests
        run: npx turbo test:integration:cohorta

  build-arm64:
    needs: [ test, integration-test-fictadvisor, integration-test-cohorta ]
    runs-on: self-hosted-ubuntu-arm64
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Cleanup Pre-Build
        run: docker system prune -f || true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Build and push ARM64
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./fictadvisor-api/Dockerfile
          platforms: linux/arm64
          push: true
          tags: fictadvisor/fictadvisor-api:${{ github.ref_name }}-arm64

  build-amd64:
    needs: [ test, integration-test-fictadvisor, integration-test-cohorta ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Build and push AMD64
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./fictadvisor-api/Dockerfile
          platforms: linux/amd64
          push: true
          tags: fictadvisor/fictadvisor-api:${{ github.ref_name }}-amd64

  merge:
    needs: [ build-arm64, build-amd64 ]
    runs-on: ubuntu-latest
    steps:
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Create and push manifest list
        run: |
          docker buildx imagetools create \
            -t fictadvisor/fictadvisor-api:${{ github.ref_name }} \
            fictadvisor/fictadvisor-api:${{ github.ref_name }}-amd64 \
            fictadvisor/fictadvisor-api:${{ github.ref_name }}-arm64
