@import "src/styles/partials/typography-mixins";
@import "src/styles/partials/breakpoints";

.teacher-search-list {
  margin-top: 40px;
  margin-bottom: 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3rem;
  row-gap: 4rem;
  grid-auto-rows: max-content !important;
  align-items: center;
}


@media only screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
  .teacher-search-list {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;
  }
}

@media screen and (max-width: $breakpoint-tablet) {
  .teacher-search-list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
  }
}